<%= content_for :title, _('Members of %{group_name}') %{group_name: @group.name} %>
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-9 bg-white py-4">
    <h2><%= _('Members of %{group_name}') %{group_name: @group.name} %></h2>
    <% if @members.any? %>
      <%= render partial: 'commoners/commoner', collection: @members, as: :commoner %>
    <% else %>
    <div class="row justify-content-center">
      <div class="col text-center">
        <h2 class="text-muted mt-4">
          <%= _("No members") %>
        </h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
