<h2 class="red-title">O Commonfare.net</h2>
<p>
  Commonfare je suradnički projekt koji nastoji poticati autonomiju i samoodređenje ljudi, te alternativne načine proizvodnje i života.
</p>
<p>
  Mi smo grupa Europskih istraživača i aktivista koji su prepoznali prekarizaciju individualnih života i društvenih odnosa zbog krize tradicionalnih sustava socijalne zaštite i rastuće društvene nejednakosti. To je realnost koju je iskusilo skoro 35% Europske populacije. Radimo na temelju participativnog pristupa u tri europske zemlje – Hrvatske, Italije, i Nizozemske – kako bi uključili i omogućili onima koji se bore s nesigurnostima, siromaštvom, niskim dohotkom, i nezaposlenošću.
  Nastojimo ostvariti tri glavna cilja: prikupljanje i razmjena informacija o odredbama socijalne zaštite u te tri zemlje; mapiranje i prepričavanje već postojećih eksperimenata socijalne zaštite odozdo prema gore, tj. onih inicijativa koje se temelje na socijalnoj suradnji i praksama uzajamne pomoći ukorijenjene u lokalnim okolnostima i specifičnim potrebama ljudi; izgradnju komplementarnih monetarnih i financijskih krugova kako bi se osigurali punu ekonomsku održivost i slobodni razvoj tih bottom up
</p>
<p>
  Commonfare projekt želi učiniti vidljivima i podržati takve procese kolektivnog i individualnog osnaživanja i autonomnih egzistencijalnih putova, čime se vraća osjećaj nade u budućnosti  u duboko promijenjenom okolišnom, materijalnom i subjektivnom kontekstu. Kao društveni i politički prostor zasnovan na solidarnim vrijednostima, društvenoj pravdi, povjerenju, međusobnoj razmjeni i vrjednovanju subjektivnih želja, Commonfare.net odbacuje bilo koji oblik ugnjetavanja i diskriminacije temeljene na spolu, kulturnom ili zemljopisnom podrijetlu, religiji, seksualnoj orijentaciji, prihodima, sposobnostima.
</p>
<p>
  Za više informacija, vidite <a href="www.pieproject.eu" target="_blank">www.pieproject.eu</a>.
</p>

<h3>Zasluga</h3>
<p>
  Fotografija na početnoj stranici je <a href="https://unsplash.com/@bamagal" target="_blank">"My Life Through A Lens"</a>
</p>
