<div class="wrap flex">

<!-- NAVIGATION -->
  <div class="col-left col-lg-3">
    <nav class="table-of-contents">
      <h5>Sadržaj <i class="fa fa-caret-down"></i></h5>
      <ol>
        <a href="#what-is-commonfare"><li>Što je commonfare.net</li></a>
        <a href="#our-values"><li>Naše vrijednosti</li></a>
        <a href="#who-we-are"><li>Tko smo mi</li></a>
        <a href="#commonfare-sections"><li>Sekcije i kako ih koristiti</li></a>
        <a href="#commoncoin-and-social-wallet"><li>Common Coin i Social Wallet</li></a>
        <a href="#contacts"><li>Kontakti</li></a>
      </ol>
    </nav>
  </div>

<!-- CONTENT -->
  <div class="col-right col-lg-9 bg-white">


    <!-- What is commonfare -->
      <section id="what-is-commonfare" class="active">
        <h1>Što je commonfare.net</h1>
        <div class="content">
          <p class="big">
            Commonfare.net promiče participativni pristup socijalnoj zaštiti kroz suradnju i međusobnu podršku.
          </p>
          <p>
            Naši glavni ciljevi su:
          </p>
          <ol>
            <li>
              <a class="to-subsection" href="#commoners-voices">Dijeljenje priča</a> o društvenoj suradnji u susjedstvu i gradovima koja odgovara društvenim potrebama i željama te podupire razmjenu znanja, roba, usluga i vještina;
            </li>
            <li>
              Razvoj <a href="#commoncoin-and-social-wallet">komplementarnog valutnog sustava</a> koji podupire financijsku mrežu koja teži autonomiji i slobodnoj provedbi kooperativne prakse socijalne zaštite;
            </li>
            <li>
              Prikupljanje i razmjenjivanje informacija o mjerama <a class="to-subsection" href="#public-benefits">socijalne zaštite</a> počevši od tri pilot države (Hrvatska, Italija i Nizozemska).
            </li>
          </ol><br>

          <p>
          Naš Commonfare prijedlog temelji se na četiri stupa, navedena u <a class="to-external" href="http://networkcultures.org/wp-content/uploads/2018/01/MONEYLABREADER2OVERCOMINGTHEHYPE.pdf" target="_blank">Commonfare Manifestu</a>:
          </p>
          <ol>
            <li>Univerzalni i bezuvjetni osnovni dohodak</li>
            <li>Upravljanje javnim dobrima i pravedna raspodjela bogatstva</li>
            <li>Alternativno gospodarstvo zasnovano na dijeljenju</li>
            <li>Common Coin</li>
          </ol><br>

          <p>
            Commonfare.net započeo je kolektiv aktivista, istraživača, umjetnika i softverskih programera u suradnji s inicijativama i kolektivima koji su pokretači dobrih praksi i “običnim” ljudima, u sklopu projekta Horizon 2020 <a class="to-external" href="http://pieproject.eu/" target="_blank">PieNews</a>. Iako je projekt započeo u Hrvatskoj, Italiji i Nizozemskoj, nastojimo rasti i širiti se diljem Europe. Commonfare.net je projekt u tijeku i  postat će ono što mi, Commoneri, načinimo od njega. <a class="to-external" href="https://commonfare.net/auth/register/signup?locale=en">Pridružite nam se</a> i oblikujmo ga zajedno!
          </p>
        </div>
      </section>

      <section id="our-values">
        <h1>Naše vrijednosti</h1>
        <div class="content">
          <p>
            Vjerujemo da svatko ima pravo na samoopredjeljenje, sreću, obrazovanje i dobrobit. Vjerujemo da se ljudi ne mogu i ne smiju svoditi samo na svoju financijsku ili radnu sposobnost.
          </p>
          <p class="big">
            Vjerujemo da ljudi imaju pravo živjeti dostojanstveno i autonomno, cijenjeni zbog načina na koji obogaćuju opće dobro svojih zajednica.
          </p>
          <p>
            Commonfare.net je mjesto gdje možete saznati što ljudi širom Europe rade kako bi ovaj projekt postao stvarnost.
          </p>
          <p>
            Commonfare.net je društveni i politički prostor zasnovan na vrijednostima solidarnosti, socijalne pravde, povjerenja, međusobne razmjene i subjektivnih želja, te stoga odbacuje bilo koji oblik ugnjetavanja i diskriminacije temeljene na spolu, kulturnom ili zemljopisnom podrijetlu, religiji, seksualnoj orijentaciji, prihodu ili sposobnosti. Također prepoznajemo važnost vaše privatnosti i zaštite podataka koje želite dijeliti na platformi. Ako se registrirate na commonfare.net, obećavamo da nikad nećemo koristiti vaše podatke za komercijalnu dobit i da ćemo poštovati način na koji odlučite upravljati svojim podacima.
          </p>
        </div>
      </section>


    <!-- Who are we -->
      <section id="who-we-are">
        <h1>Tko smo mi</h1>
        <div class="content">
          <p>
            Mi smo kolektiv aktivista, istraživača, umjetnika i programera koji rade u Hrvatskoj, Italiji i Nizozemskoj. Commonfare konzorcij je u stvari prilično heterogen i interdisciplinaran, a obuhvaća:
          </p>
          <ul>
            <li>
              Tri organizacije koje rade u zemljama pilot projekta: <a class="to-external" href="https://www.cms.hr/en" target="_blank">Centar za mirovne studije</a> (Hrvatska), <a class="to-external" href="http://www.bin-italia.org/" target="_blank">Basic Income Network</a> (Italija), i <a class="to-external" href="http://www.museudacrise.org/" target="_blank">Museu da Crise</a> (Nizozemska);
            </li>
            <li>
              Tri univerziteta i istraživačka centra: <a class="to-external" href="https://www.disi.unitn.it/it" target="_blank">University of Trento</a> (Italija), <a class="to-external" href="https://www.abertay.ac.uk/schools/social-and-health-sciences/division-of-sociology/" target="_blank">Abertay University</a> (Škotska), <a class="to-external" href="https://www.m-iti.org/" target="_blank">Madeira Interactive Technologies Institute</a> (Portugal);
            </li>
            <li>
              Dva tehnička partnera: <a class="to-external" href="https://www.fbk.eu/it/" target="_blank">Fondazione Bruno Kessler</a> (Italija); <a class="to-external" href="https://www.dyne.org/" target="_blank">Dyne.org</a> (Nizozemska)
            </li>
          </ul>
        </div>
      </section>


    <!-- Commonfare sections and how to use them -->
      <section id="commonfare-sections">
        <h1>Commonfare.net sekcije i kako ih koristiti</h1>
        <div class="content">
        <!-- #1 -->
          <h2 id="commoners-voices">Glasovi Commonera</h2>
          <p>
            Commonfare.net je svima dostupna platforma za razmjenu iskustava, poticanje ulaganja i povezivanje s ljudima koji se žele međusobno podržati. To nije društvena mreža. Umjesto toga, commonfare.net je platforma za društvenu inovaciju namijenjenu razvoju odnosa među ljudima kroz uzajamnu pomoć. Mislimo da je to moguće počevši od priča koje odlučimo podijeliti s drugima. U tom duhu, na stranici "Glasovi Commonera" autori prenose - vizualno i verbalno – priče o društvenim promjenama i društvenoj pravdi. Na ovoj stranici možemo komunicirati i dijeliti opise svijeta u kojem živimo, onoga što znamo i onoga što želimo.
          </p>
          <p class="big">
            “Oslobođenje je uvijek dio pripovijedanja: razotkrivanje priča, razbijanje tišine, stvaranje novih priča.”
          </p>
          <p>
            Potaknute narativima o pravednijem društvu i ekonomiji započele su brojne rasprave, tisuće ljudi okupirale su Wall Street, tisuće su se pobunile protiv sjevernoafričkih režima, ujedno stvarajući i nove priče koje inspiriraju. Podijelimo mišljenje Rebecce Solnit o pripovijedanju: "Oslobođenje je uvijek dio pripovijedanja: razotkrivanje priča, razbijanje tišina, stvaranje novih priča. Slobodna osoba kaže svoju priču. Vrijedna osoba živi u društvu u kojem njezina priča ima mjesto. "Možemo promijeniti stvari kad krenemo od priče koju možemo ispričati!
          </p>
          <p>
            Commonfare.net želi postati prostor za promicanje suradnje između ljudi i postojećih, mnogih oblika samoupravljanja, samoorganizacije i društvenih eksperimenata. Neka ljudi upoznaju vašu priču i kolektivno iskustvo! Povežite se s ljudima i kolektivima za izgradnju zajedničke ekonomije - <em>ekonomije svih nas za sve nas</em>!
          </p>

        <!-- #2 -->
          <h2 id="good-practices">Dobre prakse</h2>
          <p>
            Commonfare.net ima za cilj povezivanje inicijativa i eksperimenata društvene suradnje, alternativne ekonomije, i samoupravljanja koji proizlaze iz lokalnih zajednica. Želimo mapirati iskustva onih kolektiva koji se suočavaju s njihovim gospodarskim i financijskim problemima počevši od svojih društvenih odnosa na temelju uzajamne pomoći i solidarnosti.
          </p>
          <p class="big">
            Ove inicijative potiču nove oblike društvene suradnje počevši od lokalnih potreba i želja; one predstavljaju nove društvene i kolektivne eksperimente unutar “ekonomije svih nas za sve nas”.
          </p>
          <p>
            Ta iskustva ih postavljaju izvan institucionalne političke arene, a ipak oni nastoje donijeti vlastitu političku viziju koja je izvan zatvorenog svemira privatne imovine i unutar otvorenog prostora onoga što se naziva komunikacija.<br>
            Konkretnije, nastojimo učiniti vidljivim one inicijative ili "dobre prakse" koje ispunjavaju neke osnovne zahtjeve u smislu društvenog značaja i osiguravaju sljedeće kriterije:
          </p>
          <ul>
            <li>učinkovitost (u smislu postizanja postavljenih ciljeva)</li>
            <li>održivost (u smislu financijske i upravne autonomije)</li>
            <li>inovacije (u smislu ispunjavanja i prilagodbe početnim potrebama)</li>
            <li>reproducibilnost (u smislu mogućnosti reprodukcije u sličnim kontekstima)</li>
            <li>prenosivost (u smislu moguće uporabe u različitim kontekstima i sektorima)</li>
          </ul>
          <p>
            Primjeri dobre prakse Commonfare su etičke grupe za kupnju, besplatne softverske zajednice, zajedničke stambene grupe, projekti samoregulacije starih napuštenih zgrada, Fab Labs, suradni prostori i vremenske banke, urbani povrtni vrtovi, zajednice i samoorganizirani dvorane, prakse uzajamne pomoći i mreže umjetnika i slobodnjaka. Ove inicijative potiču nove oblike društvene suradnje počevši od lokalnih potreba i želja; oni predstavljaju društvene i kolektivne eksperimente unutar "economy of us". Oni su raznoliki i svi su dobrodošli na commonfare.net: ako nam želite reći o projektima ili grupama koje smatrate nadahnujućim, molimo  <a href="#contacts">da nas kontaktirate</a>.
          </p>

        <!-- #3 -->
          <h2 id="public-benefits">Mjere socijalne zaštite </h2>
          <p>
            Commonfare.net prikuplja i pruža korisne informacije o postojećim mjerama socijalne zaštite u Europi. Prikupljamo informacije o socijalnoj zaštiti na lokalnoj i nacionalnoj razini, počevši od Hrvatske, Italije, Nizozemske. Na taj način namjeravamo pomoći potencijalnim korisnicima s informacijama o postojećim politikama i mjerama koje bi mogle dovesti do poboljšanja njihovog života. Primjeri javnih naknada su razne vrste doplataka, poput onog koji nost koji pruža specifične i ciljane mjere socijalne pomoći onima koji nemaju sposobnost za rad, mjere za potporu nezaposlenim osobama koje žele započeti vlastiti posao, studentske kredite za osobe mlađe od 30 godina koje žele slijediti strukovnu izobrazbu ili žele otići na akreditirani fakultet ili sveučilište.
          </p>
          <p class="big">
            Cilj nam je pomoći potencijalnim korisnicima postojećih politika i mjera koje bi mogle dovesti do poboljšanja njihovog života.
          </p>
          <p>
            Također nastojimo omogućiti Commonerima da dodaju svoje informacije o društvenim potrebama i dostupne podatke iz relevantnih i službenih izvora koji bi mogli pomoći u rješavanju tih potreba. Ako želite dodati ili ažurirati informacije o javnim pogodnostima na vašem području, <a href="#contacts">kontaktirajte nas</a>.<br>
            Informacije prikupljene i objavljene na commonfare.net mogu također biti korisne kreatorima politika, sindikatima, društvenim pokretima i nevladinim organizacijama. Broj posjećenih stranica po temi ili vrsta informacija koje ljudi dodaju bit će izvor podataka relevantan za nadgledanje promjena društvenih potreba tijekom vremena i otvaranje prostora za djelovanje.
          </p>

        <!-- #4 -->
          <h2 id="commonplace">Commonplace</h2>
          <p>
            Commonplace je mjesto gdje možete ponuditi i tražiti pomoć, resurse, vještine i znanje. Možete to učiniti besplatno, za izravno trgovanje, ili možete zatražiti zamjenu za  <a href="#commoncoin-and-social-wallet">Common Coin</a>, , digitalni token koji se koristi na commonfare.net. Commonplace je prvenstveno mjesto koje vam pomaže da se povežete s drugima da dijelite i razmjenjujete kako bi izgradili sposobnost i dobrobit jedni drugih – to je mjesto za jačanje općeg dobra, a ne tržište posvećeno financijskim transakcijama.
          </p>
        </div>
      </section>


    <!-- Common Coin and Social Wallet -->
      <section id="commoncoin-and-social-wallet">
        <h1>Common Coin i Social Wallet</h1>
        <div class="content">
          <p>
            Commoncoin je digitalni token koji se ne može pretvoriti u euro i koji se koristi isključivo na Commonfare platformi. Kada se jedan Commoner prijavi, dobije 1000 commoncoina kako bi Commonfare ekonomijanapredovala:
          </p>
          <ol>
            <li>Nagrađivanjem priča ili kometara drugih Commonera.</li>
            <li>Na Commonplace-u: za stjecanje dobara koje nude drugi Commoneri.</li>
            <li>Na Commonplace-u: za korištenje usluga koje nude drugi Commoneri.</li>
            <li>Donacije Commonfare grupama za financiranje njihovih inicijativa.</li>
          </ol>
          <p>
            Kroz eksperimentiranje, nadamo se promicanju novog društveno-ekonomskog modela za pristup javnim dobrima i uslugama, model koji se temelji na novim I solidarnim oblicima suradnje i razmjeni vrijednosti.
          </p>
        </div>
      </section>


    <!-- Contacts -->
      <section id="contacts">
        <h1>Kontakti</h1>
        <div class="content">
          <p>
            Ako želite saznati više o projektu i pomoći nam da proširimo Commonfare, možete nas kontaktirati na sljedeći način:
          </p>
          <ul>
            <li><a class="to-external" href="mailto:info@commonfare.net">Pošaljite nam Email</a></li>
            <li><a class="to-external" href="https://commonfare.net/hr/commoners/48" target="_blank">Razgovarajte s nama</a></li>
            <li><a class="to-external" href="http://pieproject.eu/" target="_blank">Internet stranica EU projekta</a></li>
            <li><a class="to-external" href="https://www.facebook.com/Commonfare/" target="_blank">Na Facebook-u</a></li>
          </ul>
        </div>
      </section>

  </div>

</div>
