<h2 class="red-title">About Commonfare.net</h2>
<p>
  Commonfare is a collaborative project which seeks to foster the autonomy and self-determination of people, thus promoting an alternative mode of production and life.
</p>
<p>
  We are a European group of researchers and activists who recognize the precarization of individual lives and social relations due to the crisis of traditional welfare systems and growing social inequalities. This is a reality experienced by almost 25% of the European population.
  We are working following a participatory approach in three European countries – Croatia, Italy, and The Netherlands – to involve and enable those people who struggle with precariousness, impoverishment, low income, unemployment. We pursue three main goals: collecting and sharing information on welfare provisions in the three countries; mapping and recounting already existing bottom-up welfare experiments, that is those initiatives based on social cooperation and mutual-aid practices rooted in the local circumstances and specific needs of the people; building a complementary monetary and financial circuit in order to ensure the full economic sustainability and the free development of bottom-up welfare practices.
</p>
<p>
  The Commonfare project wants to make visible and support such processes of collective and individual empowerment and autonomous existential paths, thereby restoring a sense of future within a deeply changed environmental, material and subjective context.
  As a social and political space based on values of solidarity, social justice, trust, mutual exchange, and valorization of subjective desires, Commonfare.net rejects any form of oppression and discrimination based on gender, cultural or geographical origin, religion, sexual orientation, income, ableism.
</p>
<p>
  For more information, see <a href="www.pieproject.eu" target="_blank">www.pieproject.eu</a>.
</p>
