<h1 class="red-title">Izjava o privatnosti</h1>
<p>
  Commonfare Consortium (“Commonfare”, “mi”, “naše”, ili “nas”) je vlasnik internet stranice commonfare.net, nadalje “Servis”) i razvio je ovu „Izjavu o privatnosti“ kako bi pružo važne informacije o prikupljanju, uporabi i otkrivanju korisničkih podataka prikupljenih na Servisu. Commonfare pruža ovu „Izjavu o privatnosti“ kako bi Vam pomogao da donesete informiranu odluku o početku ili nastavku korištenja Servisa.
</p>
<p>
  Ova „Izjava o privatnosti“ je uključena i sastavni je dio “Uvjeta pružanja usluge“. Prilikom svakog pristupa ili korištenja Servisa obvezujete se pridržavati “Uvjeta pružanja usluge“ i ove „Izjave o privatnosti“. Ako se ne slažete sa uvjetima ove „Izjave o privatnosti“, morate prestati koristiti Servis.
</p>

<h3>1. Prikupljanje podataka</h3>
<p>
  Prilikom vašeg korištenja Servisa možemo prikupljati sljedeće vrste podataka:
</p>
<h4>Podatke koje nam vi pružite direktno</h4>
<p>
  Za određene aktivnosti, kao što su registracija ili direktan kontakt, možemo Vas tražiti da nam pružite neke ili sve od navedenih tipova podataka:
  <ul>
    <li>
      Pristupne podatke, uključujući pseudonime, e-mail adresu, postavke jezika
    </li>
  </ul>
</p>
<p>
  Zaporke nikada neće biti pohranjene kao običan tekst (samo kao ključ - hash) i stoga će osobne informacije korisnika (uključujući email, državu porijekla i preferirane teme/aktivnosti na commonfare.net) biti dostupne samo registriranim korisnicima.
</p>

<h3>2. Korištenje podataka</h3>
<p>
  Mi podatke prikupljene online najčešće upotrebljavamo za:
  <ul>
    <li>Dijeljenje objava korisnika i omogućavanje komentiranja tih objava;</li>
    <li>Pomaganje korisniku u postavljanju korisničkog računa na commonfare.net</li>
    <li>Dijeljenje sredstava podrške sa korisnicima koji su podijelili svoje objave.</li>
    <li>Dijeljenje anonimnih izvještaja o korisničkom sadržaju (pripovjedački opis priče/sadržaja, lokaciju priče/sadržaja) s istražiteljima treće strane, u istraživačke svrhe ili sveučilištima ili zakonodavcima u svrhu zaštite;</li>
    <li>Analiziranje korištenja Servisa i korisničkih podataka u svrhu razumijevanja i unapređenja;</li>
    <li>Prilagodbu prikazanog sadržaja prilikom upotrebe servisa – na primjer, podaci o lokaciji se upotrebljavaju za označavanje lokacije priče koju je objavio korisnik, a sama lokacija se može uređivati od strane korisnika;</li>
    <li>Za bilo koju drugu svrhu a koja vam je prikazana u trenutku prikupljanja vaših podataka ili sukladno vašem pristanku.</li>
  </ul>
</p>

<h3>3. Otkrivanje podataka</h3>
<p>
  <strong>Predani smo očuvanju vašeg povjerenja i želimo da razumijete kada i sa kime možemo dijeliti podatke koje prikupljamo.</strong>
  <ul>
    <li>Javnost. Možemo dijeliti podatke, kao što su objave i komentari objava javnosti ako ih objavite na javnom forumu.</li>
    <li>Istraživanja. Možemo dijeliti anonimne podatke sa istraživačima treće strane za istraživačke svrhe. Sve informacije će biti zasnovane na anonimno selektiranim i prikupljenim podacima (dob, spol, itd.) koji nisu u vezi sa osobnim profilom ili postavkama korisnika.</li>
    <li>Uz vaš pristanak. Možemo dijeliti podatke za bilo koju drugu svrhu a koja vam je prikazana u trenutku prikupljanja vaših podataka ili sukladno vašem pristanku.</li>
  </ul>
</p>
