<h1 class="red-title">Uvjeti pružanja usluge</h1>
<h2>I.	Izjava o odricanju odgovornosti </h2>
<h3>Commonfare.net makes no guarantee of update</h3>
<p class="text-justify">
  Commonfare.net je suradnička online platforma, otvorenog pristupa, odnosno dobrovoljna suradnja između pojedinaca i grupa koje skupa razvijaju zajedničke resurse kako bi osnažili društvenu solidarnost i suradnju. Struktura projekta omogućava svakome tko ima internetsku vezu da mijenja sadržaj platforme. Imajte na umu da sadržaj ove stranice nije nužno provjeren od strane stručnjaka s odgovarajućom ekspertizom te ne mora pružati potpune, točne ili pouzdane informacije.
</p>
<p class="text-justify">
  To ne znači da na Commonfare.net-u nećete naći vrijedne i točne informacije. Međutim, Commonfare.net ne može jamčiti valjanost informacija podjeljene od strane korisnika na platformi. Sadržaj bilo kojeg članka može biti nedavno promijenjen ili promijenjen od strane osobe čije znanje nije u skladu s najnovijim saznanjima o dotičnom predmetu. Imajte na umu da većina drugih  suradničkih nastojanja otvorenog sadržaja također sadržavaju ozajvu odricanja od odgovornosti. Na primjer, ova je izjava temeljena na Wikipedijinoj izjavi općeg odricanja od odgovornosti.
</p>

<h3>Ne postoji formalni peer review</h3>
<p class="text-justify">
  Commonfare.net nema formalin način recenzije. Čak i sadržaj koji je pregledan neformalnom stručnom procjenom  moglo se kasnije promjeniti na neprikladan način, neposredno prije vašeg pregleda.
</p>
<p class="text-justify">
  Nijedan od suradnika, administratora ili bilo tko drugi povezan sa platformom Commonfare.net ne može na bilo koji način biti odgovoran za pojavu netočnnih ili pogrdnih informacija, ili za vaše korištenje informacija sadržanih ili povezanih s ovom web platformom.
</p>

<h3>Nema ugovora; ograničena licenza</h3>
<p class="text-justify">
  Molimo vas da obratite pozornost kako se informacije prikazane na ovoj stranici pružaju besplatno, te da nikakav sporazum ili ugovor ne postoji između vas i vlasnika ili korisnika ove web stranice, vlasnika web poslužitelja na kojima je smješten, Commonfare.net suradnika, bilo kojeg administratora projekta, sysopsa ili bilo koga drugoga tko je na bilo koji način povezan sa ovim projektom, ili srodnim projektima koji su izravno podložni vašim zahtjevima. Imate ograničenu licencu za kopiranje bilo čega s ove web stranice; što ne stvara niti implicira bilo kakvu ugovornu ili izvanugovornu odgovornost platforme Commonfare.net ili bilo koga od agenata, članova, organizatora ili drugih korisnika.
</p>
<p class="text-justify">
  Ne postoji nikakav sporazum između vas i Commonfare.net-a u vezi  s vašom upotrebom ili izmjenom ovih informacija, izvan Licence za kreativni commons (Creative Commons License International 40 BY-NC-SA); niti je netko povezan sa Commonfare.net-om odgovoran u slučaju  promjena uređvanja, mjenjanja ili uklanjanja bilo koje informacije koju objavite na Commonfare.net-u ili bilo kojem od njegovih povezanih projekata.  
</p>
