TRANSLATION_IO_APY_KEY=XYZ
WP_AUTHORS=wp_author@example.com
GP_AUTHORS=gp_author@example.com,zoe@example.com
ARCHIVE_COMMONER=archive@example.com
NEW_STORE_DIR=true
SWAPI_ENDPOINT=http://swapi_commoncoin:3000/wallet/v1
SWAPI_API_KEY=GET_IT_FROM_APIKEY.YML
COMMONSHARE_ENDPOINT=http://commonshare:3000
WALLET_ENABLED=true
TEMPLATES_ENABLED=true
QR_CODE_ENABLED_CURRENCIES=1,2
