<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6 py-2">
    <%= simple_form_for(comment, url: story_comments_path(story)) do |f| %>
      <%= render 'comments/fields', f: f, btn_text: s_('Button|Comment') %>
    <% end %>
  </div>
</div>
