<div class="row pb-3">
  <div class="col-md-8 col-lg-8 mt-4">
    <h3 class=""><%= _('Edit your comment') %></h3>
    <%= simple_form_for(@comment) do |f| %>
      <%= render 'comments/fields', f: f, btn_text: s_('Edit') %>
    <% end %>
    <small>
      <%= link_to(fa_icon('trash', text: _('Delete this comment')), comment_path(@comment), class: 'text-danger', method: :delete, data: { confirm: _('Are you sure?') }) if can? :destroy, @comment %>
    </small>
  </div>
</div>
