<div class="row justify-content-center pb-3">
  <div class="col-md-8 col-lg-6">
    <h3><%= _('Edit your comment') %></h3>
    <%= simple_form_for(@comment) do |f| %>
      <%= render 'comments/fields', f: f, btn_text: s_('Edit') %>
    <% end %>
    <small>
      <%= link_to(_('Delete this comment'), comment_path(@comment), class: 'text-danger', method: :delete, data: { confirm: _('Are you sure?') }) if can? :destroy, @comment %>
    </small>
  </div>
</div>
