<%= content_for :title, s_('Title|My conversations') %>
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10">
    <div class="row conversation-header pt-5 pb-2 mb-3 bg-white">
      <div class="col">
        <h1><%= s_('Title|My conversations') %></h1>
      </div>        
    </div>
    <% if @conversations.any? %>
      <%= render @conversations %>
    <% else %>
    <div class="row justify-content-center">
      <div class="col text-center">
        <h2 class="text-muted">
          <%= _("No conversations") %>
        </h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
