<% content_for :title, _('Welcome!') %>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1><%= _('Welcome!') %> 😀</h1>
    <p>
      You may have noticed that your name on <strong>Commonfare.net</strong> is <strong><%= link_to @commoner.name, edit_commoner_path(@commoner) %></strong>. This is a random name that has been created to protect your privacy, and that you can change anytime. If you want to do it now, just click on it!
    </p>
    <p>
      <strong>Commonfare.net</strong> is constantly growing and more things will come in the next weeks. At the moment you can access the <strong>Welfare Provisions</strong> available in Italy, Croatia and the Netherlands (we call it <%= link_to 'InfoHub', 'http://infohub.commonfare.net' %>), and you can <strong>share a Story</strong> of your own that could be a personal experience, some good practices, or anything you would like that other people know of. You can also respond to other people's Stories by commenting them.
    </p>
    <p>
      Soon you will also be able to create real relations with other Commoners by sharing (and receiving) not only your experience but also time, goods, expertise, etc.
    </p>
    <p>
      If you want to know more about what is Commonfare.net and who is actively working on it, please visit our '<%= link_to _('About'), '#' %>' page.
    </p>
  </div>
</div>
