<%= content_for :title, _('About') %>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6 text-justify">
    <h2 class="red-title">About Commonfare.net</h2>
    <%= render translated_page('about') %>
  </div>
</div>
