<%= content_for :title, _('About') %>
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8 cf-static-page bg-white pt-4">
    <%= render translated_page('old_about') %>
  </div>
</div>
