<%= content_for :title, _('Terms of Service') %>
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1 class="red-title">Terms of Service</h1>
    <h2>I. Disclaimer</h2>
    <h3>Commonfare.net makes no guarantee of update</h3>
    <p class="text-justify">
      Commonfare.net is an online open-content collaborative endeavour; that is, a voluntary association of individuals and groups working to develop a common resource for social collaboration. The structure of the project allows anyone with an Internet connection to alter its content. Please be advised that nothing found here has necessarily been reviewed by people with the expertise required to provide you with complete, accurate or reliable information.
    </p>
    <p class="text-justify">
      That is not to say that you will not find valuable and accurate information in Commonfare.net; much of the time you will. However, Commonfare.net cannot guarantee the validity of the information found here. The content of any given article may recently have been changed or altered by someone whose knowledge does not correspond with the state of art in the relevant case. Note that most other open-content collaborative endeavours also have disclaimers. For example, this disclaimer is based on Wikipedia’s General disclaimer.
    </p>

    <h3>No formal peer review</h3>
    <p class="text-justify">
      Commonfare.net is not uniformly peer reviewed. Even content that has been vetted by informal peer review may later have been changed inappropriately, just before you view them.
    </p>
    <p class="text-justify">
      None of the contributors, administrators or anyone else connected with Commonfare.net in any way whatsoever can be responsible for the appearance of any inaccurate or libelous information or for your use of the information contained in or linked from these web pages.
    </p>

    <h3>No contract; limited license</h3>
    <p class="text-justify">
      Please make sure that you understand that the information provided here is being provided freely, and that no kind of agreement or contract is created between you and the owners or users of this site, the owners of the servers upon which it is housed, the individual Commonfare.net contributors, any project administrators, sysops or anyone else who is in any way connected with this project or related projects subject to your claims against them directly. You are being granted a limited license to copy anything from this site; it does not create or imply any contractual or extracontractual liability on the part of Commonfare.net or any of its agents, members, organizers or other users.
    </p>
    <p class="text-justify">
      There is no agreement or understanding between you and Commonfare.net regarding your use or modification of this information beyond the Creative Common License International 4.0 BY-NC-SA; neither is anyone at Commonfare.net responsible should someone change, edit, modify or remove any information that you may post on Commonfare.net or any of its associated projects.
    </p>
  </div>
</div>
