<% content_for :title, _('Write your Story') %>
<div class="row justify-content-center pb-2">
  <div class="col-md-10 col-lg-8">
    <% Globalize.with_locale(@story_locale) do %>
      <%= render 'language_choice', story_locale: @story_locale %>

      <% unless @story.translated_in?(@story_locale) %>
        <div class="badge badge-warning">
          <%= _("You haven't yet saved this Story in %{localised_lang_name}" %{localised_lang_name: localised_language_name(I18n.locale, @story_locale)}) %>
        </div>
      <% end %>

      <%= react_component 'StoryBuilderWrapper',
                          locale: I18n.locale,
                          storyLocale: @story_locale,
                          story: JSON.parse(render(template: 'stories/show.json')),
                          availableTags: Tag.all.as_json %>
    <% end %>
  </div>
</div>
