<% content_for :title, _('Write your Story') %>
<div class="row justify-content-center pb-2">
  <div class="col-md-10 col-lg-8">
    <% Globalize.with_locale(@story_locale) do %>
      <%= react_component 'StoryBuilderWrapper',
                          locale: I18n.locale,
                          storyLocale: @story_locale,
                          story: JSON.parse(render(template: 'stories/show.json')),
                          availableTags: Tag.all.as_json,
                          templatesEnabled: ENV['TEMPLATES_ENABLED'] == 'true' %>
      <% if @story.persisted? %>
        <p class="text-right">
          <small>
            <%= link_to(fa_icon('trash', text: _('Delete this Story')),
            story_path(@story),
            method: :delete,
            class: 'text-danger',
              data: {confirm: _('Are you sure? This will delete all the comments as well.')}) %>
          </small>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
