<% content_for :title, title_for_stories(@title) %>
<h2>
  <% if @commoner.present? %>
    <%= (_('Stories by %{author_name}') %{author_name: @commoner.name}) %>
  <% end %>
</h2>

<%= render 'stories/types_and_lists', story_types_and_lists: @story_types_and_lists %>
