<% content_for :title, @commoner.present? ? _('My Stories') : _('Stories') %>
<h1><%= _('My Stories') if @commoner.present? %></h1>
<div class="row">
<% @stories.each do |story| %>
  <div class="col-lg-4 col-md-6">
    <%= render 'card', story: story %>
  </div>
<% end %>
</div>
