<% content_for :title, _('Write your Story') %>
<div class="row justify-content-center pb-2">
  <div class="col-md-10 col-lg-8 pb-3 bg-white">
    <% Globalize.with_locale(@story_locale) do %>
      <%= render 'language_choice', story_locale: @story_locale, story_builder: false %>

      <%= simple_form_for([@commoner, @story], url: stories_path({story_locale: @story_locale})) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.button :submit,
                s_('Story form button|Save'),
                id: 'publish-button',
                class: 'btn btn-success btn-block',
                data: {'disable-with': _('Saving...')} %>
      <% end %>
    <% end %>
  </div>
</div>
