<div class="wrap flex">

<!-- NAVIGATION -->
  <div class="col-left col-lg-3">
    <nav class="table-of-contents">
      <h5>Table of contents <i class="fa fa-caret-down"></i></h5>
      <ol>
        <a href="#what-is-commonfare"><li>Wat is commonfare.net</li></a>
        <a href="#our-values"><li>Our values</li></a>
        <a href="#who-we-are"><li>Who we are</li></a>
        <a href="#commonfare-sections"><li>Sections and how to use them</li></a>
        <a href="#commoncoin-and-social-wallet"><li>Common Coin and Social Wallet</li></a>
        <a href="#commonshare"><li>Commonshare</li></a>
        <a href="#contacts"><li>Contacts</li></a>
      </ol>
    </nav>
  </div>

<!-- CONTENT -->
  <div class="col-right col-lg-9 bg-white">


    <!-- What is commonfare -->
      <section id="what-is-commonfare" class="active">
        <h1>Wat is commonfare.net</h1>
        <div class="content">
          <p class="big">
            Commonfare.net promoot een participatieve benadering van maatschappelijk welzijn door samenwerking en wederzijdse ondersteuning.
          </p>
          <p>
            Onze belangrijkste doelen zijn:
          </p>
          <ol>
            <li>
              <a class="to-subsection" href="#commoners-voices">verhalen delen</a> over sociale samenwerkingen in buurten en steden die inspelen op sociale behoeften en verlangens, en het delen van kennis, goederen, diensten en vaardigheden;
            </li>
            <li>
              een <a href="#commoncoin-and-social-wallet">complementair valutasysteem</a> ontwikkelen ter ondersteuning van een financieel netwerk dat streeft naar autonomie en vrije uitvoering van coöperatieve welzijnspraktijken;
            </li>
            <li>
              informatie verzamelen en te delen over <a class="to-subsection" href="#public-benefits">publieke voordelen</a> en diensten, te beginnen in de drie beginlanden (Kroatië, Italië en Nederland.
            </li>
          </ol><br>

          <p>
          Ons Commonfare-voorstel is gebaseerd op vier pijlers, zoals beschreven in het <a class="to-external" href="http://networkcultures.org/wp-content/uploads/2018/01/MONEYLABREADER2OVERCOMINGTHEHYPE.pdf" target="_blank">Commonfare Manifest</a>:
          </p>
          <ol>
            <li>Onvoorwaardelijk basisinkomen</li>
            <li>Beheer van zowel gewone goederen als algemene goederen</li>
            <li>Alternatieve verdeel-economie</li>
            <li>Gemeenschappelijke munt</li>
          </ol><br>

          <p>
            Commonfare.net werd geïnitieerd door een collectief van activisten, onderzoekers, kunstenaars en softwareontwikkelaars die in samenwerking met de goeddoeners en gelijkgezinde werkten en werd gesponsord door het Horizon 2020 <a class="to-external" href="http://pieproject.eu/" target="_blank">PieNews Project</a>. Terwijl ons werk is begonnen in Kroatië, Italië en Nederland, streven we ernaar om door heel Europa te groeien en ons te verspreiden. Commonfare.net is een werk in uitvoering dat zal worden wat wij, de Commoners, ervan maken. <a class="to-external" href="https://commonfare.net/auth/register/signup?locale=en">Doe mee</a> en geef het vorm!
          </p>
        </div>
      </section>

      <section id="our-values">
        <h1>Our values</h1>
        <div class="content">
          <p>
            We believe that everyone has the right to self-determination, happiness, education, and wellbeing. We believe that people cannot and should not be reduced to their financial or labour force value.
          </p>
          <p class="big">
            We believe that people have the right to live with dignity and autonomy, valued for the ways they enrich the commonwealth of their communities.
          </p>
          <p>
            Commonfare.net is a place where you can find out what people across Europe are doing to make this a reality.
          </p>
          <p>
            Commonfare.net is a social and political space based on values of solidarity, social justice, trust, mutual exchange, and subjective desires, and therefore rejects any form of oppression and discrimination based on gender, cultural or geographical origin, religion, sexual orientation, income, ableism. We also recognize the importance of your privacy, and the protection of data people you might want to share on the platform. If you register on commonfare.net, we promise never to use your data for commercial gain and to respect the way you choose to manage your data.
          </p>
        </div>
      </section>


    <!-- Who are we -->
      <section id="who-we-are">
        <h1>Who we are</h1>
        <div class="content">
          <p>
            We are a collective of activists, researchers, artists and software developers working in Croatia, Italy, and The Netherlands. The Commonfare consortium is in fact rather heterogeneous and interdisciplinary, and comprises:
          </p>
          <ul>
            <li>
              organizations working in the pilot countries: <a class="to-external" href="https://www.cms.hr/en" target="_blank">Center for Peace Studies</a> (Croatia), <a class="to-external" href="http://www.bin-italia.org/" target="_blank">Basic Income Network</a> (Italy), and <a class="to-external" href="https://www.dyne.org/" target="_blank">Dyne.org</a> (The Netherlands, where <a class="to-external" href="http://www.museudacrise.org/" target="_blank">Museu da Crise</a> was also active until June 2018);
            </li>
            <li>
              universities and research centers: <a class="to-external" href="https://www.disi.unitn.it/it" target="_blank">University of Trento</a> (Italy), <a class="to-external" href="https://www.abertay.ac.uk/schools/social-and-health-sciences/division-of-sociology/" target="_blank">Abertay University</a> (Scotland), <a class="to-external" href="https://www.m-iti.org/" target="_blank">Madeira Interactive Technologies Institute</a> (Portugal), and <a class="to-external" href="https://www.fbk.eu/it/" target="_blank">Fondazione Bruno Kessler</a> (Italy).
            </li>
          </ul>
          <p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/European_Commission.svg/200px-European_Commission.svg.png" class="float-left" height="100" style="padding: .8rem" alt="">
            Commonfare is developed thanks to the project PIE News (<a class="to-external" href="http://pieproject.eu" target="_blank">pieproject.eu</a>) that has received funding from the European Union’s Horizon 2020 Research and Innovation Programme under Grant Agreement No 687922 for the period 2016-2019
          </p>
        </div>
      </section>


    <!-- Commonfare sections and how to use them -->
      <section id="commonfare-sections">
        <h1>Commonfare.net sections and how to use them</h1>
        <div class="content">
        <!-- #1 -->
          <h2 id="commoners-voices">Commoners Voices</h2>
          <p>
            Commonfare.net provides a platform for everyone to share experiences, foster ventures, and connect with people who want to support each other. It is not a social network. Rather, commonfare.net is a platform for social innovation intended for developing relationships among people through mutual help. We think this can be possible starting from the stories we decide to share with other people. In this spirit, the section “Commoners Voices” hosts narratives – both visual and verbal – about social change and social justice. In this section we can communicate and share descriptions of the world we live in, of what we know, and of what we desire.
          </p>
          <p class="big">
            “liberation is always in part a storytelling process: breaking stories, breaking silences, making new stories”
          </p>
          <p>
            In the name of a more equitable social and economic vision of the world, thousands of people have occupied Wall Street, started debates, and challenged north-African authorities, all inspired by narratives, creating new narratives that in turn inspire us. We share Rebecca Solnit’s view on storytelling: “liberation is always in part a storytelling process: breaking stories, breaking silences, making new stories. A free person tells her own story. A valued person lives in a society in which her story has a place". We can change things as we start from the story we can tell!
          </p>
          <p>
            Commonfare.net wants to become a space to promote collaboration among people and the existing, many forms of self-management, self-organization, and social experimentation. Do let people know your story and collective experience! Connect with people and collectives to build up the “economy of us”!
          </p>

        <!-- #2 -->
          <h2 id="good-practices">Good practices</h2>
          <p>
            Commonfare.net aims to connect initiatives and experiments of social collaboration, alternative economy, self-management and self-production of resources, which are an expression of local circumstances and specific needs of their community. We want to map the experiences of those collectives that face their economic and financial problems starting from their social relations on the basis of mutual aid and solidarity.
          </p>
          <p class="big">
            These initiatives pursue new forms of social collaboration starting from local needs and desires; they constitute new social and collective experiments within the “economy of us”.
          </p>
          <p>
            These experiences place them outside of the institutional political arena, and yet they aim to bring about their own political vision which is outside the closed universe of private property and within the open space of what are called the commons.<br>
            More specifically, we aim to make visible those initiatives, or “good practices”, which meet some basic requirements in terms of social significance, and ensure the following criteria:
          </p>
          <ul>
            <li>effectiveness (in terms of achieving the goals set)</li>
            <li>sustainability (in terms of financial and management autonomy)</li>
            <li>innovation (in terms of meeting and adapting to the initial needs)</li>
            <li>reproducibility (in terms of the ability to reproduce them in similar contexts)</li>
            <li>transferability (in terms of possible use in different contexts and sectors)</li>
          </ul>
          <p>
            Examples of Commonfare good practices are ethical purchasing groups, free software communities, co-housing groups, self-revitalization projects of old abandoned buildings, Fab Labs, co-working spaces and time banks, urban vegetable gardens, community-based and self-organised gyms, mutual aid practices, and networks of artists and freelancers. These initiatives pursue new forms of social collaboration starting from local needs and desires; they constitute social and collective experiments within the “economy of us”. They are diverse and are all welcome on commonfare.net: if you want to tell us about projects or groups that you consider inspiring, please <a href="#contacts">get in contact</a>.
          </p>

        <!-- #3 -->
          <h2 id="public-benefits">Public benefits</h2>
          <p>
            Commonfare.net aggregates and provides useful information about local public benefits available in Europe. We are collecting information about welfare state provisions at local and national level beginning in Croatia, Italy, The Netherlands. This way we aim to help the potential beneficiaries about the existing policies and measures that could lead to improving their life. Examples of public benefits are the inability allowance that provides specific and targeted social assistance measures to people unable to work, measures to support unemployed persons who wish to start their own business, student loans for people under 30 years old who desire to follow a vocational training or want to go to an accredited college or university.
          </p>
          <p class="big">
            We aim to help the potential beneficiaries about the existing policies and measures that could lead to improving their life
          </p>
          <p>
            We are also working to facilitate Commoners to add their own information on social needs and related open data from relevant and official sources that may help to address those needs. If you want to add or update information on public benefits in your area, <a href="#contacts">contact us</a>.<br>
            The information collected and published on commonfare.net may also be useful to policy makers, trade unions, social movements, and NGOs. The number of visited pages per topic, or the kind of information added by people, will become a data source relevant for monitoring over time the changes in the societal needs, and opening up space for action.
          </p>

        <!-- #4 -->
          <h2 id="commonplace">Commonplace</h2>
          <p>
            Commonplace is where you can offer and ask for help, resources, skills and knowledge. You can do this for free, for direct trades, or you can ask to exchange for <a href="#commoncoin-and-social-wallet">Common Coin</a>, the digital token used on commonfare.net. Commonplace is primarily a place to help you connect with others to share and exchange to build each other's capacity and welfare – a place to strengthen the common good, rather than a marketplace dedicated to financial transactions.
          </p>
        </div>
      </section>


    <!-- Common Coin and Social Wallet -->
      <section id="commoncoin-and-social-wallet">
        <h1>Common Coin and Social Wallet</h1>
        <div class="content">
          <p>
            Commoncoin is a digital token non convertible to Euro to be used exclusively on the Commonfare platform. When a Commoner signs up, s/he has the access to 1000 commoncoins to make the Commonfare economy thrive by:
          </p>
          <ol>
            <li>Rewarding other Commoner’s stories or comments.</li>
            <li>On Commonplace: acquiring a second hand good offered by a Commoner.</li>
            <li>On Commonplace: acquiring a Service offered by a Commoner.</li>
            <li>Donating to Commonfare Groups to finance their initiatives.</li>
          </ol>
          <p>
            Through experimentation, we hope to promote a new socio-economic model for providing access to the commons and wealth of services, a model based on novel forms of collaboration and exchange of use value.
          </p>
        </div>
      </section>


    <!-- Commonshare -->
      <section id="commonshare">
        <h1>Commonshare</h1>
        <div class="content">
          <p>
            Each Commoner has a <strong>commonshare</strong>, which is an interactive visual representation of their recent activity on commonfare.net. Commonshare shows how much you and others have contributed to commonfare.net, and what contributions you have made.
          </p>
          <p>
            This means that, unlike other forms of reputation that you may find on sites for buying or selling items, your commonshare is not based on an ability to provide a service or product.
          </p>
          <p class="big">
            It is instead based on how your actions strengthen the community as a whole.
          </p>
          <p>
            In the commonfare approach, common good is created in all interactions, including those in which you may ask for advice, guidance or material help. This means there are many ways you can contribute. Sharing stories on Commoners’ Voices, commenting on the stories of others, making transactions through Commonplace, and having conversations with other Commoners, can all help you and others to take positive, collective action.
          </p>
        </div>
      </section>


    <!-- Commonshare -->
      <section id="commonshare">
        <h1>Commonshare</h1>
        <div class="content">
          <p>
            Each Commoner has a <strong>commonshare</strong>, which is an interactive visual representation of their recent activity on commonfare.net. Commonshare shows how much you and others have contributed to commonfare.net, and what contributions you have made.
          </p>
          <p>
            This means that, unlike other forms of reputation that you may find on sites for buying or selling items, your commonshare is not based on an ability to provide a service or product.
          </p>
          <p class="big">
            It is instead based on how your actions strengthen the community as a whole.
          </p>
          <p>
            In the commonfare approach, common good is created in all interactions, including those in which you may ask for advice, guidance or material help. This means there are many ways you can contribute. Sharing stories on Commoners’ Voices, commenting on the stories of others, making transactions through Commonplace, and having conversations with other Commoners, can all help you and others to take positive, collective action.
          </p>
        </div>
      </section>


    <!-- Contacts -->
      <section id="contacts">
        <h1>Contacts</h1>
        <div class="content">
          <p>
            If you want to know more about the project and help us to spread Commonfare, you can reach us as follows:
          </p>
          <ul>
            <li><a class="to-external" href="mailto:info@commonfare.net">Email us</a></li>
            <li><a class="to-external" href="https://commonfare.net/en/commoners/48" target="_blank">Chat with us</a></li>
            <li><a class="to-external" href="http://pieproject.eu/" target="_blank">The EU project website</a></li>
            <li><a class="to-external" href="https://www.facebook.com/Commonfare/" target="_blank">On Facebook</a></li>
          </ul>
        </div>
      </section>


  </div>

</div>
