<h2 class="red-title">Over Commonfare.net</h2>
<p>
  Commonfare is een project dat de zelfstandigheid en zelfbeschikking van mensen wil stimuleren om zo een alternatieve manier van leven en werken te bevorderen.
</p>
<p>
  Wij zijn een groep van Europese onderzoekers en activisten. We constateren groeiende sociale ongelijkheid en falende welvaartsstaten en -systemen. In Europa heeft ongeveer 25% van de bevolking te kampen met financiële moeilijkheden waardoor individuele levens kwetsbaar worden. Met Commonfare willen we hiertegen actie ondernemen.
</p>
<p>
  Commonfare is een nieuwe en aanvullende vorm van welvaartvoorziening die toegankelijk is voor iedereen en die bottom-up (van onderop) wordt georganiseerd. Voor, met en door mensen. Commonfare stelt een onvoorwaardelijk basisinkomen voor, het goed beheer van gemeenschappelijke goederen, gratis toegang tot de basisbehoeften en de creatie van alternatieve financiële en monetaire systemen. We werken met mensen in Kroatië, Italië en Nederland om samen een online platform - Commonfare.net - te ontwerpen en te bouwen waar we handen en voeten aan het idee van Commonfare geven.
</p>
<p>
  Dit online platform heeft drie hoofddoelen:
  <ul>
    <li>
      Het verzamelen en delen van informatie over bestaande sociale voorzieningen in de drie landen om deze zo beter toegankelijk te maken;
    </li>
    <li>
      Het in kaart brengen en delen van bottom-up experimenten op het gebied van welvaartsvoorzieningen. Dat wil zeggen initiatieven gebaseerd op sociale samenwerking en uitwisseling, die voortkomen uit de plaatselijke omstandigheden en wat mensen echt nodig hebben;
    </li>
    <li>
      Het opbouwen van een aanvullend financieel en geldsysteem, om de volledige economische duurzaamheid en vrije ontwikkeling van bottom-up initiatieven  te kunnen waarborgen.
    </li>
  </ul>
  Commonfare.net is een sociale en politieke omgeving gebaseerd op waarden als solidariteit, sociale rechtvaardigheid, vertrouwen, wederzijdse uitwisseling, en het serieus nemen van eenieders verlangens. Daarom verwerpt Commonfare iedere vorm van onderdrukking en discriminatie op basis van geslacht, culturele of geografische oorsprong, religie, seksuele geaardheid, inkomen of fysieke beperkingen.
</p>
<p>
  Voor nog meer informatie, zie <a href="http://www.pieproject.eu" target="_blank">www.pieproject.eu</a>.
</p>

<h3>Credits</h3>
<p>
  De foto op de startpagina is van <a href="https://unsplash.com/@bamagal" target="_blank">"My Life Through A Lens"</a>
</p>
