<h1 class="red-title">Privacybeleid</h1>
<p>
  Het Commonfare Consortium ("Commonfare", "wij", "onze", of "ons") is de eigenaar van de website commonfare.net (vanaf nu te noemen de "Service"), en heeft dit Privacybeleid ontwikkeld om belangrijke informatie te verstrekken betreffende de verzameling, het gebruik en de openbaarmaking van gebruikersinformatie verzameld op de Service. Commonfare verstrekt dit Privacybeleid om u te helpen een geïnformeerd besluit te nemen, al dan niet de Service te gebruiken of het gebruik ervan voort te zetten.
</p>
<p>
  Dit Privacybeleid is opgenomen in en onderworpen aan de Algemene Voorwaarden. Iedere keer dat u toegang heeft of gebruik maakt van de Service stemt u daarmee in dat u gehouden bent aan de Algemene Voorwaarden en dit Privacybeleid. Indien u het niet eens bent met de voorwaarden van dit Privacybeleid moet u uw gebruik van de Service staken.
</p>

<h3>1. Verzameling van informatie.</h3>
<p>
  Wij kunnen de volgende soorten informatie verzamelen wanneer u de Service gebruikt:
</p>
<h4>Informatie die u direct aan ons verstrekt</h4>
<p>
  Voor bepaalde activiteiten, zoals wanneer u zich registreert of direct contact met ons opneemt, kunnen we u vragen sommige of alle volgende soorten informatie te verstrekken:
  <ul>
    <li>
      Log-in informatie, inclusief alias, emailadres, taal
    </li>
  </ul>
</p>
<p>
  Passwords worden niet opgeslagen in platte tekst (alleen in hashes), en derhalve zal de persoonlijke profielinformatie (inclusief email, land van vestiging en geprefereerde onderwerpen/activiteiten op commonfare.net) alleen toegankelijk zijn voor de geregistreerde gebruiker.
</p>

<h3>2. Gebruik van informatie </h3>
<p>
  In het algemeen gebruiken we de informatie die we online verzamelen om:
  <ul>
    <li>verhalen ingebracht door gebruikers te delen, en commentaar op zulke verhalen te faciliteren; </li>
    <li>gebruikers te assisteren bij het aanmaken van accounts bij commonfare.net; </li>
    <li>hulpbronnen te communiceren met gebruikers die verhalen hebben gedeeld; </li>
    <li>geanonimiseerde rapporten van gebruikers te delen (bijv. de verhaallijn van een verhaal/materiaal, locatie van een verhaal/materiaal) met onderzoekers van een derde partij voor onderzoeksdoeleinden, of universiteiten , of aan wetgevers voor pleitbezorging; </li>
    <li>het gebruik van de Service en gebruikersdata te analyseren om de Service te begrijpen en te verbeteren;</li>
    <li>Customize the content you see when you use the Services – for example, location information is used to tag the location of a story reported by a user, which location may be edited by the user;</li>
    <li>voor enig ander doel aan u meegedeeld op het moment dat we uw informatie verzamelen, overeenkomstig uw toestemming.</li>
  </ul>
</p>

<h3>3. Openbaarmaking van informatie</h3>
<p>
  <strong>Wij zijn gecommitteerd aan het in stand houden van uw vertrouwen, en we willen dat u begrijpt wanneer en met wie we de informatie die we verzamelen zouden kunnen delen.</strong>
  <ul>
    <li>Het algemene publiek. Wij kunnen informatie openbaar maken aan het algemene publiek als u materiaal indient in een publiek forum, zoals verhalen of commentaar op zulke verhalen;</li>
    <li>Onderzoek. We kunnen uw geanonimiseerde informatie openbaar maken aan onderzoekers van een derde partij voor onderzoeksdoeleinden. Alle gegevens zullen gebaseerd zijn op anoniem geclassificeerde en geregistreerde gegevens (leeftijd, geslacht, etc.) die niet zijn gekoppeld aan het gepersonaliseerde profiel of de voorkeur van de gebruiker;</li>
    <li>Met uw toestemming. Wij kunnen informatie delen voor enig ander doel aan u meegedeeld op het moment dat we deze informatie verzamelen overeenkomstig uw toestemming.</li>
  </ul>
</p>
