<h1 class="red-title">Algemene Voorwaarden</h1>
<h2>I. Voorbehoud</h2>
<h3>Commonfare.net biedt geen actualiseringsgarantie</h3>
<p>
  Commonfare.net is een online open-content samenwerkingsproject; dat wil zeggen, een vrijwillige associatie van individuen en groepen die samenwerken om een collectieve voorziening voor sociale samenwerking te ontwikkelen. De structuur van het project staat iedereen met een internetverbinding toe om de inhoud ervan te wijzigen. Weest u zich er dus wel van bewust dat niets van wat u hier kunt vinden noodzakelijkerwijs is herzien door mensen met de juiste expertise om u te voorzien van complete, accurate of betrouwbare informatie.
</p>
<p>
  Dat wil niet zeggen dat u geen waardevolle en accurate informatie binnen Commonfare.net zult vinden; meestal is dat wel degelijk het geval. Commonfare.net kan de geldigheid van de hier gevonden informatie echter niet garanderen. De inhoud van ieder artikel zou recent gewijzigd of bewerkt kunnen zijn door iemand wiens kennis niet overeenkomt met de allernieuwste stand van zaken in dat betreffende geval. Neemt u er nota van dat de meeste andere open-content samenwerkingsverbanden ook disclaimers gebruiken. Deze disclaimer is bijvoorbeeld gebaseerd op het Algemeen Voorbehoud van Wikipedia.
</p>

<h3>Geen formele peer review</h3>
<p>
  Commonfare.net kent geen uniforme peer review. Zelfs inhoud die wel door een informele collegiale toetsing is gekeurd zou later incorrect kunnen zijn gewijzigd, kort voordat u deze bekijkt.
</p>
<p>
  Geen van de contribuanten, administrators of enig ander persoon op wat voor manier dan ook verbonden aan Commonfare.net kan verantwoordelijk worden gehouden voor het verschijnen van onjuiste of lasterlijke informatie, of voor uw gebruik van de informatie opgenomen in of doorgelinkt vanaf deze webpagina's.
</p>

<h3>Geen contract; beperkte licentie</h3>
<p>
  Voor uw goede begrip wijzen we u erop dat de informatie hier verstrekt vrijblijvend is, en dat er geen enkel soort overeenkomst of contract wordt gecreëerd tussen u en de eigenaars of gebruikers van deze website, de eigenaars van de servers die deze site huisvesten, de individuele contribuanten, noch projectadministrateurs, system operators, of enig ander persoon die op wat voor manier dan ook verbonden is aan dit project of andere projecten die voorwerp zouden kunnen zijn van uw directe claims. U wordt een gelimiteerde licentie verleend om allerlei van deze site te kopiëren; dit creëert of impliceert  geen enkele contractuele of buitencontractuele aansprakelijkheid voor Commonfare.net, noch voor zijn vertegenwoordigers, leden, organisatoren of andere gebruikers.
</p>
<p>
  Er is geen overeenkomst of verstandhouding tussen u en Commonfare.net betreffende uw gebruik of wijziging van deze informatie buiten de Creative Common License International 4.0 BY-NC-SA; evenmin is enig persoon betrokken bij Commonfare.net verantwoordelijk in het geval dat iemand enige informatie die u zou kunnen plaatsen op Commonfare.net of enig ander daaraan verbonden project wijzigt, bewerkt, aanpast of verwijdert.
</p>
