// Place all the styles related to the Commoners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_preview.commoner_avatar {
  img {
    @extend .rounded-circle;
    border: 1px solid $lightgreen;
  }
}

.commoner-header {
  padding-bottom: 1em;
}

.commoner-profile {
  position: relative;
  display: flex;
  // @extend .text-center;
  p.commoner-name {
    font-weight: 500;
    font-size: 2.17em;
    padding-top: 10px;
    margin-bottom: 0;
  }
  img {
    @extend .rounded-circle;
    margin-right: 20px;
    border: 1px solid $lightgreen;
    height: 100px;
  }
  .edit-profile {
  }
}

.commoner-actions {
  @extend .text-right;
}

.commoner-media {
  background-color: $white;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.35);
  @extend .media;
  padding: .5rem;
  h5 {
    margin-top: .8rem;
  }
  a {
    text-decoration: none;
    color: $black;
    .rounded-circle {
      border: 1px solid $lightgreen;
    }
  }
  .memberships {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin: 0 .5rem 0 0;
    }
  }
}

#no-commonshare {
  display: none;
  padding: 2rem;
}

@media screen and (max-width: 991px) {
  .commoner-actions {
    text-align: center !important;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .commoner-profile {
    flex-direction: column;
    img {
      width: 96px;
      margin: auto;
    }
    p {
      text-align: center;
      padding-top: 0;
    }
  }
}
