// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-container {
  margin-top: 1rem;
  padding: 10px;
  background: $white;
  border-bottom: 1px solid $lightgreen;
  .comment-avatar {
    @extend .rounded-circle;
    border: 2px solid $lightgreen;
    height: 48px;
    width: 48px;
  }
  p.comment-author {
    a {
      color: black;
    }
    font-weight: 500;
    margin: 0;
    padding: .5rem 0 .15rem;
    line-height: 1em;
  }
  #commentDropdownMenuLink {
    color: inherit;
  }
  p.comment-body {
    font-family: 'Lora', serif;
    font-size: 1.15rem;
    margin: .5rem 0;
  }
}

textarea#comment_body {
  padding: .75rem;
}
