.dashboard-responsive {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
  h1 {
    font-size: 267%;
  }
  h2 {
    font-size: 169%;
  }
  h3 {
    font-size: 100%;
  }
  input {
    border: none;
    font-family: 'Asap', Arial, sans-serif;
  }
  label {
    font-size: 100%;
  }
  button {
    font-family: 'Asap', Arial, sans-serif;
    font-size: 100%;
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  /* Header */
  .header {
    background-color: #fff;
    border-bottom: 1px solid rgba(72, 133, 128, 0.15);
  }
  .header .wrap {
    padding: 0 20px;
  }
  .header h1 {
    padding: 35px 0 10px;
  }
  .date {
    display: flex;
    margin-right: -20px;
  }
  .date-filter {
    border-left: 1px solid rgba(72, 133, 128, 0.15);
    padding: 10px;
  }
  // .date-filter:last-child {
  //   border-right: 1px solid rgba(72, 133, 128, 0.15);
  // }
  .date-filter label {
    display: block;
    padding-top: 35px;
    font-weight: 500;
  }

  // Content
  .content {
    padding: 20px;
    background-color: #fff;
    p.number {
      font-size: 300%;
      font-weight: 500;
      padding-top: 10px;
    }
    .block {
      background-color: #fff;
      margin-top: 10px;
      /*box-shadow: 0 1px 5px -2px rgba(0,0,0,0.15);*/
    }
    .block-bg-green {
      padding: 10px;
      background-color: rgba(72, 133, 128, 0.075);
      border-radius: 3px;
      box-shadow: 0 1px 5px -1px rgba(0,0,0,.15);
      transition: box-shadow .15s;
    }
    .block-bg-green:hover {
      box-shadow: 0 1px 5px -1px rgba(0,0,0,.35);
    }
    .block-bg-orange {
      background-color: #e7472e;
      color: #fff;
    }
    .block-bg-green .number {
      color: rgb(72, 133, 128);
    }
    .graph {
      min-height: 250px;
      background-color: #f5f9f8;
    }
  }
}

@media screen and (max-width: 575px) {
  .dashboard-responsive .date-filter{
    border: none;
    padding: 0;
    padding-left: 20px;
    label {
      display: inline-block;
      padding-top: 0;
    }
  }
}
