// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.discussion-back {

}

#discussion-messages {
  min-height: calc(100vh - 300px);
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
  .discussion-message {

  }
}

.discussion-media {
  background-color: $white;
  padding: .5rem .75rem;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.35);
  h4 {
    a {
      color: $black;
      text-decoration: none;
    }
  }
  .comments {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 0 .5rem 0 0;
    }
  }
}

// Single discussion page
.discussion-back {
  .btn {
    padding: 0.3rem 1.5rem 0.3rem 1rem;
    i {
      font-size: 80%;
      padding-right: 1rem;
    }
  }
}
.discussion-header {
  padding: 1.5em 0 1em;
  border-bottom: 1px solid $lightgreen;
}

.discussion-container {
  padding-bottom: 1em;
}