// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#discussion-messages {
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
  .discussion-message {
    margin: 0 1rem;
  }
}
