// Fab
.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: white;
  border: 1px solid $cf-primary-color;
  z-index: 999;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  .mdc-fab__icon {
    color: $cf-primary-color;
  }
}

.card-fab--absolute {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  background-color: white;
  border: 1px solid $cf-secondary-color;
  z-index: 998; // one less than the add fab
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  .mdc-fab__icon {
    color: $cf-secondary-color;
  }
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
