html {
  // used for placing the footer
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  background-color: $backgroundgrey;
  // Padding top for fixed navbar (necessary for hiding it when scrolling)
  padding-top: 53px;
  /* Margin bottom by footer height */
  margin-bottom: 300px; // this changes in a media query
  -webkit-font-smoothing: antialiased;
}

.bg-white {
  background-color: $white;
}

.bg-grey {
  background-color: $backgroundgrey;
}

.hero {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  overflow: hidden;
}

.red-title {
  // color: $cf-primary-color;
  text-align: center;
  font-weight: 500;
  margin: .5em auto;
}

.btn-cf-inverse {
  @extend .btn;
  background-color: white;
  color: $cf-primary-color;
  border-color: $cf-primary-color;
}

// White links against a dark background
.navbar-cf {
  flex-direction: row;
  .navbar-cf-divider {
    width: 0;
    margin: 0 .5rem;
    overflow: hidden;
    border-right: 1px solid $navbar-cf-disabled-color;
  }
  .navbar-brand {
    color: $navbar-cf-active-color;

    @include hover-focus {
      color: $navbar-cf-active-color;
    }
  }

  .navbar-nav {
    &.navbar-story-links {
      .nav-item {
        font-size: 1.1rem;
      }
    }
    .nav-link {
      color: $navbar-cf-color;
      padding-right: .75em;
      padding-left: .75em;

      @include hover-focus {
        color: $navbar-cf-hover-color;
      }

      &.disabled {
        color: $navbar-cf-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-cf-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-cf-color;
    border-color: $navbar-cf-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-cf-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-cf-color;
    a {
      color: $navbar-cf-active-color;

      @include hover-focus {
        color: $navbar-cf-active-color;
      }
    }
  }
}

.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $cf-primary-color;
  padding-bottom: 15px;
  h6 {
    letter-spacing: .035em;
  }
  a {
    color: white;
  }
  .language {
    a {
      opacity: .5;
      &.active {
        opacity: 1;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

.cf-search-form-container {
  form.form-inline {
      margin-right: .6rem;
      border: 1px solid rgba(255, 255, 255, .5);
      border-radius: 2px;
      justify-content: space-between;
      .form-control {
        max-width: 100px;
        transition: all .25s;
        &:focus {
          max-width: 200px;
          width: 200px;
          background-color: rgba(255, 255, 255, .25);
          color: white;
        }
      }
      button {
        background: transparent;
      }
    }

  // Used in search.js as option to customize easyAutocomplete
  .cf-search-form {
    // width: 201px !important;
    z-index: 999;
    width: unset !important;
    input {
      padding: 8px 12px;
      background: transparent;
      color: white;
      border: none;
      border-radius: 0;
      box-shadow: none;
      &::placeholder {
        color: white;
      }
    }
    .easy-autocomplete-container {
      width: 200px !important;
      border-top: none;
      .eac-category {
        font-size: 1em;
        text-transform: uppercase;
        color: $cf-primary-color;
        font-style: normal;
        border-top: 1px solid #ddd;
        strong {
          font-weight: 500;
        }
      }
    }
}
}

.navbar-avatar {
  height: 24px;
}

@media screen and (max-width: 991px) {
  .navbar-cf {
    flex-direction: row-reverse;
    .navbar-nav {
      .nav-link {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  .cf-search-form-container {
    .cf-search-form {
      width: calc(100% - 36px) !important;
      .form-control {
        max-width: none !important;
        width: 100% !important;
        &:focus {
          max-width: none !important;
          width: 100% !important;
        }
      }
      .easy-autocomplete-container {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    margin-bottom: 500px;
  }
  footer {
    .row {
      display: block;
      .col-6 {
        max-width: 100%;
        width: 100%;
        padding-bottom: 2em;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .cf-search-form {
    width: 200px !important;
  }
}
