html {
  // used for placing the footer
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.hero {
  padding-left: 0;
  padding-right: 0;
}

.red-title {
  color: $cf-primary-color;
  text-align: center;
  font-weight: 700;
  margin: .5em auto;
}

.btn-cf-inverse {
  @extend .btn;
  background-color: white;
  color: $cf-primary-color;
  border-color: $cf-primary-color;
}

// White links against a dark background
.navbar-cf {
  .navbar-brand {
    color: $navbar-cf-active-color;

    @include hover-focus {
      color: $navbar-cf-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-cf-color;

      @include hover-focus {
        color: $navbar-cf-hover-color;
      }

      &.disabled {
        color: $navbar-cf-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-cf-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-cf-color;
    border-color: $navbar-cf-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-cf-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-cf-color;
    a {
      color: $navbar-cf-active-color;

      @include hover-focus {
        color: $navbar-cf-active-color;
      }
    }
  }
}

.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: $cf-primary-color;
  a {
    color: white;
  }
  a.dropdown-item {
    color: inherit;
  }
}
// Used in search.js as option to customize easyAutocomplete
.cf-search-form {
  // width: 201px !important;
  z-index: 999;
  width: unset !important;
  @media screen and (max-width: 575px) {
    width: 193px !important;
    margin-right: 8px;
  }
  input {
    padding: 8px 12px;
  }
  .easy-autocomplete-container {
    width: 193px !important;
  }
}

.navbar-avatar {
  height: 24px;
}
