// Container for #show
.listing-container {
  @extend .col;
  // background-color: snow;
  color: #111;
  padding-top: 2em;
  padding-bottom: 3.7em;

  .listing-lang-select {
    @extend .text-muted;
    font-size: 0.8em;
    padding: 5px;
  }

  .listing-title {
    margin: 0;
    h2 {
      font-size: 3.7em;
      font-weight: 400;
      margin-bottom: 0;
    }
    p.listing-type {
      font-size: 1em;
      text-transform: uppercase;
      margin: 0;
      font-weight: 500;
    }
  }

  .listing-author {
    font-size: 1.25rem;
    a {
      color: black;
    }
  }

  .listing-info {
    font-size: 1.3em;
    line-height: 1.5em;


    .listing-date,
    .listing-place,
    .listing-comments,
    .listing-share,
    .listing-lang-select {
      @extend .text-muted;
      font-size: 0.8em;
      padding: 0;
      i.fa {
        padding-right: .5em;
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    .listing-comments {
      padding: 2.7em 0 .5em;
    }
  }

  .listing-cover-image {
    @extend .img-fluid;
    max-height: 420px;
  }

  .listing-description {
    line-height: 1.5em;
    font-family: "Lora", serif;
    font-size: 1.3em;
  }

  .listing-tags {
    color: $cf-primary-color
  }
}

.blueimp-gallery {
  a.prev,
  a.next,
  a.close {
    color: white;
    &:hover {
      color: white;
    }
  }
}

// Style for _listing
a.listing-media-container:hover {
  text-decoration: none;
}

.listing-media-container {
  margin-bottom: 1rem;
}

.listing-media {
  @extend .media;
  border: 1px solid lightgrey;
  padding: .5rem;
  color: black;
}

.listing-media-body {
  @extend .media-body;
  height: 96px;
  .listing-media-place > i {
    margin-right: .4rem;
  }
}

.listing-media-footer {
  padding: .5rem;
  margin-top: 1px;
  border: 1px solid lightgray;
  .listing-media-footer-comments {
    @extend .text-muted;
    font-size: 0.8em;
    padding: 0;
    i.fa {
      padding-right: .5em;
    }
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

// Media queries

@media screen and (max-width: 991px) {
  .listing-container {
    .listing-info {
      .listing-comments {
        padding: 1.3em 0 .5em;
      }
      a.btn-block {
        display: none;
      }
    }
    .listing-description {
      figure {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .listing-container {
    .listing-title, .listing-price {
      h2 {
        font-size: 2.19em;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .listing-container {
    .listing-description,
    .listing-author {
      font-size: 1.1em;
    }
  }
}
