// Container for #show
.listing-container {
  @extend .col;
  color: #111;

  .listing-lang-select {
    @extend .text-muted;
    padding: 5px;
  }

  .listing-header {
    border-bottom: 1px solid $lightgreen;
  }

  .listing-title {
    margin: 0;
    h2 {
      max-width: 920px;
      font-size: 3.7em;
      font-weight: 400;
      margin-bottom: 0;
    }
    p.listing-type {
      font-size: 1em;
      text-transform: uppercase;
      margin: 0;
      font-weight: 500;
    }
  }

  .listing-info {
    background-color: $white;
    line-height: 1.5em;


    .listing-date,
    .listing-author,
    .listing-place,
    .listing-comments,
    .listing-share,
    .listing-lang-select {
      // @extend .text-muted;
      color: darken($lightgreen, 18%);
      padding: .65rem .75rem;
      border-bottom: 1px solid $lightgreen;
      i.fa {
        color: $cf-secondary-color;
        padding-right: .5em;
      }
      a {
        color: $cf-secondary-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .listing-content-wrap {
    min-height: 240px;
    background-color: $white;
  }

  .listing-cover-image {
    @extend .img-fluid;
    max-height: 420px;
  }

  .listing-price {
    margin-top: 0.25rem;
    color: $cf-secondary-color;
  }

  .listing-description {
    line-height: 1.5em;
    font-family: "Lora", serif;
    font-size: 1.3em;
    margin-bottom: 2em;
  }

  .listing-tags {
    color: $cf-primary-color
  }
}

.blueimp-gallery {
  a.prev,
  a.next,
  a.close {
    color: white;
    &:hover {
      color: white;
    }
  }
}

// Style for #edit
.nested-fields {
  position: relative;
  input.image_preview {
    width: 78%;
    overflow: hidden;
  }
  .remove_fields {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

// Style for _listing
.listing-media {
  @extend .media;
  padding: .5rem;
  color: black;
}

.listing-media-container {
  margin-bottom: 1rem;
  background-color: $white;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.35);
  transition: box-shadow .25s;
  &:hover {
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.25);
  }
  a {
    text-decoration: none;
  }
}
.listing-media-body {
  @extend .media;
  width: 100%;
  padding-right: .5rem;
  .d-flex {
    width: 100%;
  }
  a {
    color: $black;
  }
  .listing-media-price {
    color: $cf-secondary-color;
  }
}
.listing-media-footer {
  padding: .5rem;
  border-top: 1px solid $lightgreen;
  .listing-media-footer-comments {
    @extend .text-muted;
    padding: 0;
    i.fa {
      padding-right: .5em;
    }
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}


// Media queries

@media screen and (max-width: 991px) {
  .listing-container {
    .listing-content-wrap {
      background-color: transparent;
    }
    .listing-info {
      a.btn-block {
        display: none;
      }
    }
    .listing-description {
      figure {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .listing-container {
    .listing-title, .listing-price {
      h2 {
        font-size: 2.19em;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .listing-container {
    .listing-description,
    .listing-author {
      font-size: 1.1em;
    }
  }
}
