.notification_wrapper {
  .notification_header {
    .unopened {
      background-color: #f87880;
    }
  }
}

/* unopened_circle */
.unopened_wrapper {
  position: absolute;
  margin-top: 20px;
  margin-left: 56px;
  .unopened_circle {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #27a5eb;
    z-index: 2;
  }
  .unopened_description_wrapper {
    display: none;
    position: absolute;
    margin-top: 26px;
    margin-left: -24px;
  }
  .unopened_description {
    position: absolute;
    color: #fff;
    font-size: 12px;
    text-align: center;

    border-radius: 4px;
    background: rgba(0, 0, 0, 0.8);
    padding: 4px 12px;
    z-index: 999;
  }
  .unopened_description:before {
     border: solid transparent;
     border-top-width: 0;
     content: "";
     display: block;
     position: absolute;
     width: 0;
     left: 50%;
     top: -5px;
     margin-left: -5px;
     height: 0;
     border-width: 0 5px 5px 5px;
     border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
     z-index: 0;
  }
}
.unopened_wrapper:hover > .unopened_description_wrapper{
  display: block;
}

/* list */
.notification_list {
  padding: 15px 10px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  &.unopened {
    background-color: #eeeff4;
  }
  &:hover {
    background-color: #f8f9fb;
  }
  &:last-child {
    border-bottom: none;
  }
  &:after{
    content: "";
    clear: both;
    display: block;
  }
  .notification_list_cover{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

  }
  .list_image {
    float: left;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #979797;
  }
  .list_text_wrapper {
    float: left;
    width: calc(100% - 60px);
    margin-left: 20px;
    .list_text {
      color: #4f4f4f;
      font-size: 14px;
      line-height: 1.4;
      margin-top: 0;
      height: auto;
      font-weight: normal;
      strong {
        font-weight: bold;
      }
      span {
        color: #979797;
        font-size: 12px;
      }
    }
  }
  .delete_notification_link {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
  }
}
