// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cf-jumbotron {
  @extend .jumbotron;
  border-radius: 0;
  padding: 4rem 0;
  background: image-url('jumbotron-bg-color.jpg') no-repeat center center scroll;
  // background: image-url('jumbotron-bg-phone.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .btn-outline-cf {
    background-color: white;
    &:hover {
      background-color: $cf-primary-color;
    }
  }
  .logo-container {
    @extend .d-inline-block;
    width: 100%;
    max-width: 576px;
    #logo-svg {
      width: inherit;
      path {
        fill: $cf-primary-color !important;
      }
    }
  }
}

.carousel-container {
  background-color: rgba(0, 0, 0, .4);
  padding: 2rem 0;
}

.carousel {
  height: 248px;
  background-color: inherit;
  text-align: left;
  h1 {
    color: $cf-primary-color;
    font-weight: 700;
  }
  p {
    @extend .lead;
    color: white;
    font-weight: 700;
    margin: 1em auto;
  }
  .carousel-indicators {
    li {
      border-radius: 10px;
      background-color: white;
      &.active {
        background-color: $cf-primary-color
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cf-jumbotron {
    background-color: white;
    background-image: none;
  }
  .carousel-container {
    background-color: inherit;
  }
  .carousel {
    p {
      color: black;
    }
    .carousel-indicators {
      li {
        background-color: #888888;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .carousel {
    height: 348px;
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .carousel {
    height: 398px;
  }
}
