// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cf-jumbotron {
  margin-bottom: 0;
  .gray-layer {
    background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5));
    height: 120%;
    width: 100%;
    position: absolute;
    top: -2rem;
  }
  @extend .jumbotron;
  border-radius: 0;
  padding: 3rem 0;
  background-image: none;
  background-color: $cf-secondary-color;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  .btn-block {
    display: block;
    width: 60%;
    margin: auto;
  }
  .btn-outline-cf {
    background-color: white;
    &:hover {
      background-color: $cf-primary-color;
    }
  }
  .logo-container {
    @extend .d-inline-block;
    width: 100%;
    max-width: 576px;
    #logo-svg {
      // path {
      //   fill: $cf-primary-color !important;
      // }
      width: inherit;
      height: auto;
    }
  }
  p {
    color: white;
    &.jumbotron-text {
      font-size: 13px;
      color: white;
      margin: 1em;
    }
  }
}

.carousel-container {
  // background-color: rgba(0, 0, 0, .4);
  padding: 2rem 0;
}

.carousel {
  // height: 248px;
  height: auto;
  background-color: inherit;
  text-align: left;
  h1 {
    color: $cf-primary-color;
    font-weight: 700;
  }
  p {
    @extend .lead;
    max-width: 1000px;
    color: white;
    font-weight: 400;
    font-size: 2.65rem;
    margin: 1em auto;
    line-height: 1.35em;
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
  .carousel-indicators {
    li {
      border-radius: 10px;
      background-color: white;
      &.active {
        background-color: $cf-primary-color
      }
    }
  }
}

.story-type-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-top: 5em;
  margin-bottom: 0;
  padding-bottom: 3px;
  &:first-of-type {
    margin-top: 2em;
  }
  h2, p {
    margin: 0 0 -2px 0;
  }
  h2 {
    font-size: 2.19em;
  }
}

.story-content-filter {
  .nav-item {
    font-size: 1.5rem;
  }
}

.cf-static-page {
  p, ul {
    font-family: "Lora", serif;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 991px) {
  .carousel-control-prev, .carousel-control-next, .d-lg-none {
    display: none !important;
  }
  .story-type-header {
    margin-top: 0.5em;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    border-bottom: none;
    border-top: 1px solid black;
    &:first-of-type {
      margin-top: 0;
    }
    a.btn {
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: 767px) {
  .cf-jumbotron {
    // background-color: white;
    // background-image: none;
  }
  .carousel-container {
    background-color: inherit;
    padding: 0;
  }
  .carousel {
    // height: 348px;
    p {
      font-size: 2.19em;
      // color: black;
    }
    .carousel-indicators {
      li {
        background-color: #888888;
      }
    }
  }
  #logo-svg {
    path {
      fill: $cf-primary-color !important;
    }
  }
  .story-content-filter {
    .nav-item {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 575px) {
  .carousel {
    // height: 398px;
    p {
      font-size: 1.69em;
    }
  }
}
