// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cf-jumbotron {
  @extend .jumbotron;
  background-color: $commonfare-background-color;
  .logo-container {
    @extend .d-inline-block;
    width: 100%;
    max-width: 768px;
    #logo-svg {
      width: inherit;
      path {
        fill: $cf-primary-color !important;
      }
    }
  }
}

.carousel {
  height: 410px;
  background-color: $commonfare-background-color;
  text-align: left;
  h1 {
    color: $cf-primary-color;
    font-weight: 700;
  }
  p {
    @extend .lead;
    font-weight: 700;
    margin: 1em auto;
  }
  .carousel-indicators {
    li {
      border-radius: 10px;
    }
  }
}
