// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-card {
  @extend .card;
  .story-card-title {
    @extend .card-title;
    height: 2.2em;
  }

  .story-card-tag-link {
    @extend .text-muted;
  }

  .story-card-title-link, .story-card-comments-link {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.story-container {
  @extend .col-md-8, .col-lg-6;
  background-color: snow;

  .story-lang-select {
    @extend .text-muted;
    font-size: 0.8em;
    padding: 5px;
  }

  .story-title {

  }

  .story-author {
    font-style: italic;
    a {
      color: inherit;
    }
  }

  .story-place {
    @extend .text-muted;
    font-size: 0.8em;
    padding: 5px;
  }

  .story-content {
    line-height: 1.7em;
  }

  .story-tags {
    padding: 1em;
  }

}
