// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.transaction-date {
  padding: 4px 10px 2px;
  line-height: 1em;
  font-size: 85%;
  background-color: $lightgreen;
  color: $cf-secondary-color;
}
.transaction {
  // margin-bottom: 2px;
  background-color: $white;
  border-bottom: 1px solid $lightgreen;
  .transaction-header {
    &:hover {
      cursor: pointer;
    }
    i {
      transform: rotate(-45deg);
    }
  }
  .outgoing-transaction {
    color: red;
  }

  .incoming-transaction {
    color: green;
  }

  .target {
    strong {
      font-weight: 500;
    }
  }

  .amount {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .transaction-message,
  .transaction-timestamp,
  .transaction-counterpart,
  .transaction-collapse {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
  }

  .transaction-message,
  .transaction-counterpart {
    padding-left: 2.39rem;
  }

  .transaction-timestamp {
    font-size: .8rem;
    color: gray;
  }

  .transaction-counterpart {
    color: $cf-secondary-color;
    i {
      padding-right: .5rem;
    }
    a {
      color: $cf-secondary-color;
      text-decoration: none;
    }
  }

  .transaction-collapse {
    font-size: 1.3rem;
    &:hover {
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 800px) {
  .transaction {
    .target {
      font-size: 85%;
    }
    .amount {
      font-size: 1rem;
    }
  }
}

