// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.transaction-date {
  padding: 4px 10px 2px;
  line-height: 1em;
  font-size: 85%;
  background-color: $lightgreen;
  color: $cf-secondary-color;
}
.transaction-collapse {
  // margin-bottom: 2px;
  background-color: $white;
  border-bottom: 1px solid $lightgreen;
  .transaction-header {
    &:hover {
      cursor: pointer;
    }
    i {
      transform: rotate(-45deg);
    }
  }
  .outgoing-transaction {
    color: $cf-primary-color;
  }

  .incoming-transaction {
    color: $cf-secondary-color;
  }

  .target {
    strong {
      font-weight: 500;
    }
  }

  .amount {
    font-size: 1.3rem;
    font-weight: 500;
  }


  .transaction-message,
  .transaction-timestamp,
  .transaction-counterpart,
  .transaction-refund,
  .transaction-collapse {
    padding-right: .5rem;
  }

  .transaction-message,
  .transaction-counterpart,
  .transaction-refund,
  .transaction-timestamp {
    padding-left: 3.25rem;
    max-width: 480px;
  }

  .transaction-timestamp {
    font-size: .8rem;
  }

  .transaction-counterpart {
    color: $cf-secondary-color;
    i {
      padding-right: .5rem;
    }
    a {
      color: $cf-secondary-color;
      text-decoration: none;
    }
  }

  .transaction-refund {
    color: $cf-primary-color;
    i {
      padding-right: .5rem;
    }
    a {
      color: $cf-primary-color;
      text-decoration: none;
    }
  }

  .transaction-collapse {
    font-size: 1.3rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.withdraw-container, .top_up-container {
  .transaction_amount {
    input {
      font-size: 2.5rem;
    }
  }

  .withdraw-header {
    border-bottom: 1px solid $lightgreen;
  }
  .withdraw-details {
    color: $cf-secondary-color;
  }
}


.icon-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 2em;
  color: $cf-secondary-color;;
  margin: 1.5em auto .5em;
  border-radius: 100%;
  border: 2px solid $cf-secondary-color;;
}

@media screen and (max-width: 800px) {
  .transaction {
    .target {
      font-size: 85%;
    }
    .amount {
      font-size: 1rem;
    }
  }
}
