// Place all the styles related to the Wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wallet-header {
  border-bottom: 1px solid $lightgreen;
  a {
    color: $cf-secondary-color;
    &:hover {
      text-decoration: none;
      color: $darkgreen;
    }
  }
}

.info-current-balance {
  color: $cf-secondary-color;
}

.wallet-balance {
  h6 {
    margin-bottom: 0;
  }
  h1 {
    color: $cf-secondary-color;
    margin-bottom: 2rem;
  }
}

dl.daily-takings {
  font-size: 1.2rem;
}
