<%= content_for :title, s_('Title|Transaction successful') %>
<div class="row justify-content-center">
  <div class="col-lg-7 col-md-9 py-4 bg-white">
    <div class="icon-confirm">
      <i class="fa fa-check"></i>
    </div>
    <h1 class='text-center mb-3'><%= s_('Transaction successful') %></h1>
    <p class="text-center">
      <%= _('Close this window before proceeding with a new transaction') %>
    </p>

    <!-- SINCE THERE IS THE OVERVIEW BEFORE CONFIRMATION, 'FROM' AND 'TO' ARE UNNECESSARY -->
    <!-- <dl class="row">
      <dt class="col-sm-1"><%#= _('From') %></dt>
      <dd class="col-sm-11"><%#= @transaction.from_wallet.walletable.name %></dd>
      <dt class="col-sm-1"><%#= _('To') %></dt>
      <dd class="col-sm-11"><%#= @transaction.to_wallet.walletable.name %></dd>
    </dl>
    -->

    <%#= link_to (_('Back to %{currency_name} wallet') %{currency_name: currency_name_for_withdraw_transaction(@transaction)}), get_wallet_path(@transaction.to_wallet), class: 'btn btn-cf btn-block' %>
  </div>
</div>
