<div class="wrap flex">

<!-- NAVIGATION -->
  <div class="col-left col-lg-3">
    <nav class="table-of-contents">
      <h5>Indice <i class="fa fa-caret-down"></i></h5>
      <ol>
        <a href="#what-is-commonfare"><li>Che cos’è Commonfare</li></a>
        <a href="#our-values"><li>I nostri valori</li></a>
        <a href="#who-we-are"><li>Chi siamo</li></a>
        <a href="#commonfare-sections"><li>Com’è fatto e come funziona commonfare.net</li></a>
        <a href="#commoncoin-and-social-wallet"><li>Commoncoin e portafoglio comune</li></a>
        <a href="#contacts"><li>Contatti</li></a>
      </ol>
    </nav>
  </div>

<!-- CONTENT -->
  <div class="col-right col-lg-9 bg-white">


    <!-- What is commonfare -->
      <section id="what-is-commonfare" class="active">
        <h1>Che cos’è Commonfare</h1>
        <div class="content">
          <p class="big">
            Commonfare.net intende promuovere un approccio partecipativo al welfare sociale attraverso la collaborazione e il supporto reciproco.
          </p>
          <p>
            I nostri obiettivi sono:
          </p>
          <ol>
            <li>
              <a class="to-subsection" href="#commoners-voices">Condividere storie</a> su esperienze di collaborazione sociale che avvengono nei quartieri e nelle città per far fronte ai bisogni e ai desideri delle persone, supportando la condivisione di saperi, beni, servizi e competenze;
            </li>
            <li>
              sviluppare un <a href="#commoncoin-and-social-wallet">sistema monetario complementare</a> utile a creare una rete finanziaria a sostegno dell’autonomia e della libera realizzazione delle pratiche di welfare cooperativo;
            </li>
            <li>
              raccogliere e condividere le informazioni sulle <a class="to-subsection" href="#public-benefits">misure di welfare</a> locali e nazionali, a partire dai tre Paesi pilota (Croazia, Italia, e Olanda).
            </li>
          </ol>
          <br>
          <p>
          Il progetto Commonfare si basa su quattro pilastri, delineati nel <a class="to-external" href="http://effimera.org/tesi-lelaborazione-un-manifesto-commonfare-cominciare-la-discussione-general-intellect/" target="_blank">Manifesto per il commonfare</a>:
          </p>
          <ol>
            <li>Reddito di base incondizionato</li>
            <li>Gestione dal basso dei beni comuni e del Comune</li>
            <li>Un eco-sistema alternativo di produzione e di cooperazione</li>
            <li>La moneta del comune (Commoncoin)</li>
          </ol><br>

          <p>
            Commonfare.net è stato avviato da un collettivo di attiviste/i, ricercatrici/ori, artiste/i e sviluppatori/rici software in collaborazione con persone e organizzazioni in Croazia, Italia, Olanda. Commonfare.net è finanziato dal progetto di ricerca Horizon 2020 <a class="to-external" href="http://pieproject.eu/" target="_blank">PieNews Project</a>. Il nostro lavoro è iniziato in Croazia, Italia, e Olanda, ma siamo impegnati/e nel far crescere e diffondere il progetto in tutta Europa. Commonfare.net è un progetto in continuo sviluppo, e diventerà ciò che noi Commoner ne faremo. <a class="to-external" href="https://commonfare.net/auth/register/signup?locale=en">Unisciti a noi</a>, abbiamo bisogno del tuo contributo!
          </p>
        </div>
      </section>

      <section id="our-values">
        <h1>I nostri valori</h1>
        <div class="content">
          <p>
            Crediamo che tutte le persone abbiano diritto all’autodeterminazione, alla felicità, all’istruzione e al benessere. Crediamo che le persone non possano e non debbano essere ridotte al loro valore finanziario o di forza lavoro. Più di questo:
          </p>
          <p class="big">
            crediamo che le persone abbiano il diritto di vivere con dignità e autonomia, di essere apprezzate per i modi in cui arricchiscono il benessere comune delle loro comunità.
          </p>
          <p>
            Commonfare.net è un luogo in cui puoi scoprire cosa stanno facendo le persone in tutta Europa per far sì che questo diventi realtà.
          </p>
          <p>
            Commonfare.net è uno spazio sociale e politico basato sui valori della solidarietà, giustizia sociale, fiducia, scambio reciproco e desideri soggettivi; rifiutiamo dunque qualsiasi forma di oppressione e discriminazione basata su genere, origine culturale o geografica, religione, orientamento sessuale, reddito, abilità. Riconosciamo, inoltre, l'importanza della privacy e la protezione dei dati che le persone potrebbero condividere sulla piattaforma. Se ti registri su commonfare.net, ti promettiamo di non utilizzare mai i tuoi dati per scopi commerciali e di rispettare il modo in cui scegli di gestire i tuoi dati.
          </p>
        </div>
      </section>


    <!-- Who are we -->
      <section id="who-we-are">
        <h1>Chi siamo</h1>
        <div class="content">
          <p>
            Siamo un collettivo di attiviste/i, ricercatrici/ori, artiste/i e sviluppatori/rici software e lavoriamo in Croazia, Italia e Olanda. Il consorzio Commonfare è infatti piuttosto eterogeneo e interdisciplinare, e coinvolge:
          </p>
          <ul>
            <li>
              organizzazioni che operano nei tre Paesi pilota: <a class="to-external" href="https://www.cms.hr/en" target="_blank">Centro Studi per la Pace</a> (Croazia), <a class="to-external" href="http://www.bin-italia.org/" target="_blank">Basic Income Network</a> (Italia) e <a class="to-external" href="https://www.dyne.org/" target="_blank">Dyne.org</a> (Olanda, dove <a class="to-external" href="http://www.museudacrise.org/" target="_blank">Museu da Crise</a> ha operato fino a giugno 2018);
            </li>
            <li>
              università e centri di ricerca: <a class="to-external" href="https://www.disi.unitn.it/it" target="_blank">Università di Trento</a> (Italia), <a class="to-external" href="https://www.abertay.ac.uk/schools/social-and-health-sciences/division-of-sociology/" target="_blank">Abertay University</a> (Scozia), <a class="to-external" href="https://www.m-iti.org/" target="_blank">Madeira Interactive Technologies Institute</a> (Portogallo) e <a class="to-external" href="https://www.fbk.eu/it/" target="_blank">Fondazione Bruno Kessler</a> (Italia).
            </li>
          </ul>
        </div>
      </section>


    <!-- Commonfare sections and how to use them -->
      <section id="commonfare-sections">
        <h1>Com’è fatto e come funziona commonfare.net</h1>
        <div class="content">
        <!-- #1 -->
          <h2 id="commoners-voices">Storie</h2>
          <p>
            Commonfare.net è uno spazio per coloro che desiderano condividere esperienze, promuovere iniziative e connettersi con altre persone per sostenersi reciprocamente. Commonfare.net non è un social network, ma una piattaforma per l'innovazione sociale che mira a promuovere relazioni tra le persone attraverso l'aiuto reciproco. Pensiamo che questo possa essere possibile a partire dalle storie che decidiamo di condividere con altre persone. In questo spirito, la sezione "Storie" ospita narrazioni – sia visive sia verbali – che raccontano di cambiamento e giustizia sociale. In questa sezione possiamo comunicare le nostre esperienze del mondo in cui viviamo, ciò che sappiamo e ciò che desideriamo, poiché:
          </p>
          <p class="big">
            “la liberazione è sempre, in parte, un processo di narrazione: scardinare storie, rompere silenzi, produrre nuove storie”
          </p>
          <p>
            In nome di una visione del mondo socialmente ed economicamente più equa, migliaia di persone hanno occupato Wall Street, sfidato il potere nei paesi nordafricani, ispirate da narrazioni che a loro volta ci hanno ispirato. Per questo condividiamo le parole di Rebecca Solnit: “la liberazione è sempre, in parte, un processo di narrazione: scardinare storie, rompere silenzi, produrre nuove storie. Una persona libera racconta la sua storia. Una persona valorizzata vive in una società in cui la sua storia ha un posto”.
            <br>
            Possiamo cambiare le cose, partendo dalla storia che anche tu puoi raccontare!
          </p>
          <p>
            Commonfare.net vuole diventare uno spazio volto a promuovere la collaborazione tra le persone e tra le tante forme di autogestione e sperimentazione sociale esistenti. Fai conoscere la tua storia e la tua esperienza collettiva! Entra in contatto con persone e gruppi per costruire “l'economia del noi”!
          </p>

        <!-- #2 -->
          <h2 id="good-practices">Buone pratiche</h2>
          <p>
            Commonfare.net vuole mettere in connessione le sperimentazioni e le iniziative di cooperazione sociale, economia alternativa, autogestione, autoproduzione e produzione collettiva già esistenti in molte comunità locali. Vogliamo raccogliere le esperienze di gruppi di persone che, a partire delle proprie relazioni sociali,  cercano soluzioni a problemi economici sulla base dei principi di reciprocità e solidarietà.
          </p>
          <p class="big">
            Queste realtà fanno vivere nuove forme di cooperazione orizzontale che, a partire dai propri bisogni e desideri, costruiscono una "economia del noi" a partire da sperimentazioni sociali e collettive.
          </p>
          <p>
            Queste esperienze si collocano al di fuori dell'arena politica istituzionale e tuttavia hanno l'ambizione di realizzare la propria visione politica all'interno dello spazio aperto di quelli che sono chiamati i “beni comuni”.
            <br>
            Più in particolare, intendiamo dare visibilità alle iniziative, o “buone pratiche” di welfare dal basso (o Commonfare), che  possono essere di ispirazione per altri  gruppi e comunità e che quindi si caratterizzano come:
          </p>
          <ul>
            <li>efficaci (capaci di rispondere agli obiettivi e ai bisogni che la comunità si è posta);</li>
            <li>sostenibili (capaci di rispondere alle esigenze economiche);</li>
            <li>innovative (capaci di trovare soluzioni originali ai bisogni);</li>
            <li>riproducibili e/o trasferibili (con una buona possibilità di essere realizzate in contesti analoghi o ispirare progetti anche in settori e con bisogni diversi).</li>
          </ul>
          <p>
            Esempi di buone pratiche di welfare dal basso sono i gruppi di acquisto etico, le comunità di software libero, i gruppi di co-housing, i progetti di autorecupero di edifici abbandonati, i FabLabs e gli spazi di co-working, le banche del tempo, gli orti urbani, le palestre popolari autogestite, le pratiche di mutuo soccorso, le reti di artisti e freelancer.
            Queste e tante altre realtà che oggi fanno vivere nuove forme di cooperazione orizzontale e che, a partire dai propri bisogni e desideri, costruiscono una "economia del noi" a partire da sperimentazioni sociali e collettive, sono benvenute su commonfare.net.
            Se vi riconoscete nella descrizione di buona pratica, se avete voglia di far conoscere la vostra esperienza e di condividerla, se volete partecipare e costruire nuove reti e cooperazioni iscrivetevi a commonfare.net, fate una descrizione della vostra esperienza, raccontatevi e date notizia delle vostre attività.
          </p>

        <!-- #3 -->
          <h2 id="public-benefits">Misure di welfare</h2>
          <p>
            Commonfare.net aggrega e fornisce informazioni utili sulle misure di welfare disponibili in Europa. Stiamo raccogliendo informazioni sulle misure di welfare a livello locale e nazionale a partire da quelle presenti in Croazia, Italia, e Olanda. In questo modo proviamo ad aiutare i potenziali beneficiari segnalando misure di sostegno esistenti che potrebbero portare a migliorare la loro vita. Tra le misure di welfare disponibili su commonfare.net si possono trovare, ad esempio, l'assegno per la disabilità che fornisce misure di assistenza sociale per persone incapaci di lavorare, misure per sostenere le persone disoccupate che desiderano avviare un'attività in proprio, prestiti agli studenti e alle studentesse sotto i 30 anni che vogliono ottenere una formazione professionale oppure frequentare un’università accreditata.
          </p>
          <p class="big">
            Vogliamo aiutare i potenziali beneficiari delle misure di welfare esistenti, segnalando informazioni che potrebbero portare a migliorare la loro vita
          </p>
          <p>
            Stiamo anche lavorando per permettere ai Commoner che lo desiderano di inserire sulla piattaforma le informazioni sui bisogni sociali e i relativi dati (raccolti attraverso fonti rilevanti e attendibili) che potrebbero essere utili per rispondere a tali bisogni. Se desideri aggiungere o aggiornare informazioni sulle misure di welfare disponibili nella tua zona, ti invitiamo a <a href="#contacts">contattarci</a>.
            <br>
            Le informazioni raccolte e pubblicate su commonfare.net potrebbero, in questo modo, essere utili ai responsabili delle politiche pubbliche, sindacati, movimenti sociali e ONG. Il numero di pagine visitate per argomento o il tipo di informazioni aggiunte dalle persone diventerà una fonte di dati rilevante per monitorare nel tempo i cambiamenti nei bisogni della società e suggerire interventi adeguati.
          </p>

        <!-- #4 -->
          <h2 id="commonplace">Commonplace</h2>
          <p>
            Commonplace è un’area presente su commonfare.net dove puoi offrire e/o chiedere aiuto, risorse, abilità e conoscenze. Puoi farlo gratuitamente, per scambi diretti, oppure puoi chiedere di scambiare <a href="#commoncoin-and-social-wallet">Commoncoin</a>, la moneta digitale usata su commonfare.net. Commonplace è principalmente un luogo in cui puoi connetterti con altre persone per condividere e scambiare, contribuendo ad arricchire le capacità e il benessere di ciascuno/a – un luogo in cui rafforzare il bene comune, piuttosto che un mercato dedicato alle transazioni finanziarie.
          </p>
        </div>
      </section>


    <!-- Common Coin and Social Wallet -->
      <section id="commoncoin-and-social-wallet">
        <h1>Commoncoin e portafoglio comune</h1>
        <div class="content">
          <p>
            Commoncoin è un gettone digitale, non convertibile in Euro o in qualsiasi altra valuta, da utilizzare esclusivamente sulla piattaforma commonfare.net. Quando un Commoner si registra sulla piattaforma ha automaticamente accesso ad un massimo di 1000 commoncoin ogni mese. Usa i tuoi commoncoin per far crescere Commonfare:
          </p>
          <ol>
            <li>Inviando commoncoin ad altri Commoner per ringraziarli per le loro storie, commenti o idee.</li>
            <li>Scambiando alcuni commoncoin in cambio di beni di seconda mano su Commonplace.</li>
            <li>Inviando commoncoin a un altro Commoner in cambio di un servizio tramite Commonplace.</li>
            <li>Inviando una donazione ai gruppi presenti su commonfare.net per supportare le loro iniziative.</li>
          </ol>
          <p class="big">
            Attraverso la sperimentazione con Commoncoin, speriamo di promuovere un nuovo modello socio-economico capace di favorire l’accesso ai beni comuni e alla ricchezza di servizi, un modello basato su nuove forme di collaborazione e scambio di valore d'uso.
          </p>
          <!-- TODO: decommentare quando abbiamo il link -->
          <!-- <p>
            Guarda il <a href="#">tutorial</a> per capire come usare il portafoglio comune (social wallet) per Commoncoin.
          </p> -->
        </div>
      </section>


    <!-- Contacts -->
      <section id="contacts">
        <h1>Contatti</h1>
        <div class="content">
          <p>
            Se vuoi saperne di più sul progetto e aiutarci a diffondere Commonfare, puoi raggiungerci:
          </p>
          <ul>
            <li>Via email all’indirizzo <a class="to-external" href="mailto:info@commonfare.net">info@commonfare.net</a></li>
            <li>Direttamente <a class="to-external" href="https://commonfare.net/it/commoners/48" target="_blank">su commonfare.net:</a></li>
            <li>Attraverso il <a class="to-external" href="http://pieproject.eu/" target="_blank">sito ufficiale del progetto</a></li>
            <li>Su <a class="to-external" href="https://www.facebook.com/Commonfare/" target="_blank">Facebook</a></li>
          </ul>
        </div>
      </section>


  </div>

</div>
