<h2 class="red-title">Che cos’è Commonfare.net</h2>
<p>
  Commonfare è un progetto di ricerca collaborativo che promuove l'autodeterminazione delle persone e valorizza stili di vita e modelli di produzione alternativi alle logiche di accumulazione e sfruttamento delle risorse e delle esistenze.
</p>
<p>
  Siamo un gruppo di ricercatori e ricercatrici che riconoscono il processo di precarizzazione sociale a causa delle trasformazioni produttive e della crisi dei tradizionali sistemi di welfare, e il conseguente aumento delle ineguaglianze che colpiscono circa il 25% della popolazione europea secondo i dati Eurostat. Lavoriamo seguendo un approccio partecipativo in tre paesi europei – Croazia, Italia e Olanda – per coinvolgere tutte quelle persone che quotidianamente fanno i conti con condizioni di vita difficili determinate dalla precarietà, dall’impoverimento economico, dal basso reddito e dalla disoccupazione, e per mettere in relazione tutte quelle forme di cooperazione sociale “dal basso” che costruiscono nuovo mutualismo a partire dall'emergere di nuovi bisogni. Commonfare persegue tre obiettivi principali: raccogliere e condividere informazioni sulle misure e i servizi di welfare disponibili in Croazia, Italia e Olanda; mappare e raccontare gli esperimenti esistenti di welfare “dal basso”, cioè le iniziative di cooperazione sociale e pratiche di aiuto e riconoscimento reciproco che prendono forma nei quartieri, nelle città e nei contesti locali per fare fronte ai bisogni sociali; costruire un sistema di moneta complementare e un circuito finanziario per assicurare la piena sostenibilità economica e la libera espansione delle buone pratiche di welfare partecipativo.
</p>
<p>
  Il progetto Commonfare vuole rendere visibili le istanze emergenti e le storie connesse alla precarietà, sostenere i processi di emancipazione individuale e collettiva così come i percorsi di vita autonomi, ripristinando un senso di futuro all'interno di un contesto ambientale, materiale e soggettivo profondamente mutato. In quanto spazio sociale e politico animato da valori di solidarietà, giustizia sociale, fiducia, mutuo scambio e valorizzazione dei desideri soggettivi, Commonfare.net ripudia qualunque forma di oppressione e discriminazione culturale, geografica, religiosa, economica, e relativa all’orientamento sessuale, all’identità di genere e alla disabilità.
</p>
<p>
  Per ulteriori informazioni visita <a href="http://www.pieproject.eu" target="_blank">www.pieproject.eu</a>.
</p>
