<h1 class="red-title">Informativa sulla Privacy</h1>
<p>
  Il Consorzio Commonfare ("Commonfare", "noi", "nostri") è il proprietario del sito commonfare.net, da ora in poi il "Servizio") e ha sviluppato questa informativa sulla privacy per fornire informazioni importanti sulla raccolta, l’uso e la divulgazione delle informazioni dell'utente raccolte nel Servizio. Commonfare fornisce questa informativa sulla privacy <strong>per aiutarti a prendere una decisione informata sulla possibilità di utilizzare, o di continuare a utilizzare, il Servizio</strong>.
</p>
<p>
  La presente Informativa sulla privacy è incorporata e soggetta ai Termini di Servizio. Ogni volta che accedi o utilizzi il Servizio dichiari di accettare i Termini di Servizio e la presente Informativa sulla privacy. Se non accetti i termini della presente informativa sulla privacy, è necessario interrompere l'utilizzo del Servizio.
</p>

<h3>1. Raccolta di informazioni</h3>
<p>
  Potremmo raccogliere i seguenti tipi di informazioni quando utilizzi il Servizio:
</p>
<h4>Informazioni che fornisci direttamente a noi</h4>
<p>
  Per alcune attività, ad esempio quando ti registri o ci contatti direttamente, potremmo chiederti di fornire alcune o tutte le informazioni seguenti:
  <ul>
    <li>
      Informazioni sull’accesso, inclusi alias, indirizzo e-mail, lingua
    </li>
  </ul>
</p>
<p>
  Nessuna password di solo testo sarà memorizzata (solo valori hash) e quindi le informazioni del profilo personale (tra cui email, Paese di residenza e argomenti/attività preferite su commonfare.net) saranno accessibili solo dall'utente registrato.
</p>

<h3>2. Utilizzo delle informazioni</h3>
<p>
Generalmente utilizziamo le informazioni che raccogliamo online per i seguenti scopi:
  <ul>
    <li>Condividere le storie inserite dagli utenti e facilitare i commenti alle storie stesse; </li>
    <li>Assistere gli utenti nella creazione di un account su commonfare.net;</li>
    <li>Comunicare le risorse di supporto con utenti che hanno condiviso storie;</li>
    <li>Condividere report anonimi sulle storie/contenuti postati dagli utenti (ad esempio, narrazione di una storia/contenuto, localizzazione di una storia/contenuto) con ricercatori di terze parti per scopi di ricerca, o con università o amministratori per scopi di sostegno;</li>
    <li>Analizzare l’utilizzo del Servizio e I dati degli/delle utenti per comprendere e migliorare il Servizio;</li>
    <li>Personalizzare i contenuti che vedi quando usi il Servizio – ad esempio, le informazioni sulla posizione vengono utilizzate per contrassegnare la posizione di una storia postata da un utente, il quale può comunque modificare;</li>
    <li>Per qualsiasi altro scopo a te comunicato al momento della raccolta delle tue informazioni o in base al tuo consenso.</li>
  </ul>
</p>

<h3>3. Divulgazione delle informazioni </h3>
<p>
  <strong>Ci impegniamo a mantenere la tua fiducia e vogliamo che tu capisca quando e con chi potremmo condividere le informazioni che raccogliamo.</strong>
  <ul>
    <li>Pubblico generico. Potremmo divulgare informazioni al pubblico generico se pubblichi contenuti in un forum pubblico, come storie o commenti sulle storie.</li>
    <li>Ricerca. Potremmo divulgare le tue informazioni anonime a ricercatori di terze parti a scopo di ricerca. Tutti le informazioni saranno basate su dati anonimi classificati e registrati (età, sesso, ecc.) che non sono correlati al profilo personalizzato o alle preferenze dell'utente.</li>
    <li>Con il tuo consenso. Potremmo condividere le informazioni per qualsiasi altro scopo a te comunicato al momento della raccolta delle informazioni o in base al tuo consenso.</li>
  </ul>
</p>
