<h1 class="red-title">Termini di Servizio</h1>
<h2>I. Dichiarazione di non responsabilità</h2>
<h3>Commonfare.net non fornisce garanzie sull’aggiornamento dei contenuti</h3>
<p class="text-justify">
  Commonfare.net è un progetto digitale, collaborativo, costituito da contenuti aperti; commonfare.net è infatti il risultato del lavoro portato avanti da un'associazione volontaria di individui e gruppi allo scopo di sviluppare una risorsa comune per la collaborazione sociale. La struttura del progetto consente a chiunque disponga di una connessione a Internet di alterarne il contenuto. È perciò importante segnalare che nessun contenuto presente sulla piattaforma è stato necessariamente esaminato da persone con le competenze necessarie ad assicurare informazioni complete, accurate o affidabili.
</p>
<p class="text-justify">
  Questo non significa che su Commonfare.net non troverai informazioni utili e accurate; il più delle volte, infatti, le troverai. Tuttavia, non possiamo garantire la validità delle informazioni trovate su Commonfare.net. Il contenuto di un dato articolo potrebbe essere stato recentemente modificato o alterato da qualcuno la cui conoscenza non corrisponde alle informazioni aggiornate e corrette sul tema in questione. Per questo motivo la maggior parte dei progetti collaborativi costituiti da contenuti aperti sono accompagnati da Dichiarazione di limitazione di responsabilità. Ad esempio, questa dichiarazione è basata sulla dichiarazione di non responsabilità di Wikipedia.
</p>

<h3>Nessuna revisione formale</h3>
<p class="text-justify">
  I contenuti di Commonfare.net non sono uniformemente sottoposti a revisione formale. Anche i contenuti che sono stati verificati attraverso una revisione potrebbero essere stati modificati in modo inappropriato, appena prima della tua visualizzazione.
</p>
<p class="text-justify">
  Nessuno/a degli utenti, amministratori o chiunque altro/a collegato/a a Commonfare. può essere responsabile in alcun modo per la presenza di informazioni inaccurate o diffamatorie o per l'utilizzo che farai delle informazioni contenute in questa piattaforma e condivise su altri spazi digitali.
</p>

<h3>Nessun contratto; licenza limitata</h3>
<p class="text-justify">
  Assicurati di comprendere che le informazioni presenti su Commonfare.net vengono fornite gratuitamente e che non viene creato alcun tipo di accordo o contratto tra te e i gestori o gli utenti di questo sito, i proprietari dei server su cui il sito è ospitato, i collaboratori individuali di Commonfare.net, tutti gli amministratori di progetto, gli operatori di sistema o chiunque altro sia in qualche modo connesso a questo progetto o progetti relativi a Commonfare.net soggetti diretti dei tuoi reclami contro di loro. Ti viene concessa una licenza limitata per copiare da questo sito qualsiasi cosa desideri; questa licenza non crea o implica alcuna responsabilità contrattuale o extracontrattuale da parte di Commonfare.net o dei suoi gestori, membri, organizzatori o altri utenti.
</p>
<p class="text-justify">
  Non vi è alcun accordo o intesa tra te (utente) e Commonfare.net in merito all'utilizzo o alla modifica di tali informazioni al di là della licenza “Creative Common License International 4.0 BY-NC-SA”; inoltre, nessuno/a dei gestori di Commonfare.net è responsabile nel caso qualcuno dovesse cambiare, modificare o rimuovere qualsiasi informazione che tu potresti pubblicare su Commonfare.net o su uno dei progetti a esso associati.
</p>
