// Specific for Story show
.story-container {
  @extend .col;
  // background-color: snow;
  color: #111;

  // .story-ribbon {
  //   float: right;
  //   font-size: .9rem;
  //   color: white;
  //   padding: .2rem 1rem;
  //   background-color: black;
  //   &.wp-ribbon {
  //     background-color: $cf-primary-color;
  //   }
  //   &.gp-ribbon {
  //     background-color: $cf-secondary-color;
  //   }
  //   box-shadow: 1px 1px 2px #585858;
  // }
  .grey-bg {
    background-color: $backgroundgrey;
  }
  .story-lang-select {
    @extend .text-muted;
    font-size: 0.8em;
    padding: 5px;
  }

  .story-header {
    border-bottom: 1px solid $lightgreen;
  }

  .story-title {
    margin: 0;
    h2 {
      max-width: 920px;
      font-size: 3.7em;
      font-weight: 400;
      margin-bottom: 0;
    }
    p.story-type {
      font-size: 1em;
      text-transform: uppercase;
      margin: 0;
      font-weight: 500;
    }
  }


  .story-info {
    background-color: $white;
    line-height: 1.5em;

    .story-author,
    .story-date,
    .story-place,
    .story-comments,
    .story-share,
    .story-lang-select {
      // @extend .text-muted;
      color: $black;
      padding: .65rem .75rem;
      border-bottom: 1px solid #e1e8e7;
      i.fa {
        color: $cf-secondary-color;
        padding-right: .5em;
      }
      a {
        color: $cf-secondary-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .story-comments {
      // padding: 2.7em 0 .5em;
    }
  }

  .story-content-wrap {
    background-color: $white;
  }

  .story-content {
    background-color: $white;
    line-height: 1.5em;
    font-family: "Lora", serif;
    font-size: 1.3em;
    min-height: 240px;

    figure {
      // width: 85%;
      // margin: auto;
      box-shadow: none;
      border: none;

      img {
        width: 100%;
        height: auto;
      }

      iframe {
        width: 100%;
      }

      figcaption {
        background-color: #efefef;
        // font-style: italic;
        font-size: .9rem;
        padding: 0 1em;
        color: black;
        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }

  .story-tags {
    color: $cf-secondary-color;
    background-color: $lightgreen;
    &:hover {
      background-color: $cf-secondary-color;
      color: $white;
    }
  }

  // Story content made with story builder
  .story-content-item {
    //
  }

  .story-content-item--large-text {
    @extend .red-title;

    text-align: center;
    padding: 4rem 0;
  }

  .story-content-item--image,
  .story-content-item--video {
    padding: 1rem 0;
  }
  #comments-anchor {
    padding-top: 2em;
  }

}

// Trix related
trix-editor {
  iframe {
    max-width: 100%;
  }
}

.trix-button--image::before {
  background-image: image-url('retro.svg');
}

.trix-button--video::before {
  background-image: image-url('film.svg');
}

.trix-button-group.trix-button-group--history-tools, .trix-button--icon-code {
  display: none;
}

// Media queries

@media screen and (max-width: 991px) {
  .story-container {
    .story-content-wrap {
      background-color: transparent;
    }
    .story-info {
      a.btn-block {
        display: none;
      }
    }
    .story-content {
      figure {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .story-container {
    .story-title {
      h2 {
        font-size: 2.19em;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .story-container .story-content {
    font-size: 1.1em;
  }
}
