<%# The nav.fixed-bottom is always visible %>
<!-- <nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Change language</a>
</nav> -->
<footer class="footer">
  <div class="container">
    <span>Change language from here</span>
  </div>
</footer>
